Repository rx-angular/rx-angular, pull requests merged in 2020-11, with the labels that each got.

#406 docs(web): enable history based router
  docs/index.html
Labels: 📚 Docs Web

#407 switch to raw files in docs/partials
  docs/index.html
  docs/web/partials/_sidebar.md
Labels: 📚 Docs Web

#422 docs(demos): polish demo
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-suspense-trigger.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query.component.ts
  libs/template/src/lib/core/model.ts
Labels: </> Template

#430 docs(demos): polish rxFor poc
  apps/demos/src/app/features/experiments/structural-directives/rx-for-poc/parent.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-for-poc/rx-for-poc.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-for-poc/rx-for-value.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-for-poc/rx-for.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/structural-directives.menu.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/default-strategies.ts
Labels: </> Template, 🃏 Demos

#432 feat(template):detach on complete and error
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-poc.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-poc.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-suspense-trigger.directive.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/default-strategies.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/model.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/strategy-helper.ts
Labels: </> Template, ⚗️ POC, 🃏 Demos

#427 docs(demos): add memo pipe poc (wip)
  apps/demos/src/app/features/experiments/pipes/memo-poc/fibonacci.pipe.ts
  apps/demos/src/app/features/experiments/pipes/memo-poc/fibonacciMemo.pipe.ts
  apps/demos/src/app/features/experiments/pipes/memo-poc/memo-poc.component.ts
  apps/demos/src/app/features/experiments/pipes/memo-poc/memo-poc.module.ts
  apps/demos/src/app/features/experiments/pipes/memo-poc/memo-poc.routes.ts
  apps/demos/src/app/features/experiments/pipes/pipes.menu.ts
  apps/demos/src/app/features/experiments/pipes/pipes.module.ts
  apps/demos/src/app/shared/debug-helper/work/fibonacci.ts
  apps/demos/src/app/shared/debug-helper/work/index.ts
  apps/demos/src/app/shared/rx-angular-pocs/memo/index.ts
  apps/demos/src/app/shared/rx-angular-pocs/memo/memo-map.ts
  apps/demos/src/app/shared/rx-angular-pocs/memo/memo.module.ts
  apps/demos/src/app/shared/rx-angular-pocs/memo/memo.pipe.ts
  apps/demos/src/app/shared/rx-angular-pocs/memoizerific.ts
Labels: </> Template, ⚗️ POC, 🃏 Demos

#433 Polish pixel prio
  apps/demos/src/app/features/concepts/coalescing/coalescing.module.ts
  apps/demos/src/app/features/concepts/coalescing/coalescing/coalescing-test.service.ts
  apps/demos/src/app/features/concepts/coalescing/coalescing/coalescing.component.ts
  apps/demos/src/app/features/performance/concurrent-strategies/pixel-priority/pixel-priority.component.ts
  apps/demos/src/app/shared/image-array/controls/color-prio.component.ts
  apps/demos/src/app/shared/image-array/controls/image-array.component.ts
  apps/demos/src/app/shared/image-array/image-array.module.ts
  apps/demos/src/app/shared/image-array/image-array/image-array.component.ts
  apps/demos/src/app/shared/image-array/image-converter.ts
  apps/demos/src/app/shared/image-array/index.ts
  apps/demos/src/app/shared/image-array/model.ts
  apps/demos/src/app/shared/image-array/palette-extractors/index.ts
  apps/demos/src/app/shared/image-array/palette-extractors/kmeans.extractor.ts
  apps/demos/src/app/shared/image-array/pixel-image.ts
  apps/demos/src/app/shared/rx-angular-pocs/memo/memo-map.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/custom-strategies.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/model.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/render-queue/utils/global-task-manager.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/testing/index.ts
  apps/demos/src/app/shared/rx-angular-pocs/render-stragegies/testing/strategy-map.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-pixel-img.component.ts
  apps/demos/src/assets/bowser-jr.png
  apps/demos/src/assets/dragon.png
  apps/demos/src/assets/duck.png
  apps/demos/src/assets/knight.png
  apps/demos/src/assets/maroon.png
  apps/demos/src/assets/pokemon.png
  apps/demos/src/assets/sonic2.png
  apps/demos/src/assets/sure.png
  apps/demos/src/assets/warrior.png
  libs/template/src/index.ts
Labels: </> Template
