Repository rx-angular/rx-angular, pull requests merged in 2020-09, with the labels that each got.

#280 test(coalescing-manager): implemented coalescing-manager tests
  libs/template/spec/core/utils/coalescing-manager.spec.ts
  libs/template/src/lib/core/utils/coalescing-manager.ts
Labels: template

#286 Template core tests
  apps/state-demo/src/app/examples/demo-basics/1/demo-basics-1.solution.component.ts
  apps/template-demo/src/app/examples/coalescing/experiments-profiling/coalescing-experiments-profiling-child.component.ts
  apps/template-demo/src/app/examples/memoized-views/experiments-profiling/memoized-views.component.ts
  apps/tour-of-heroes/src/app/app.module.ts
  apps/tour-of-heroes/src/app/hero-search/hero-search.component.html
  libs/state/jest.config.js
  libs/template/jest.config.js
  libs/template/spec/core/utils/get-zone-unpatched-api.spec.ts
  libs/template/spec/core/utils/zone-check.spec.ts
  libs/template/src/lib/core/utils/get-zone-unpatched-api.ts
  libs/template/src/lib/core/utils/index.ts
  libs/template/src/lib/core/utils/unpatched-resolved-promise.ts
  libs/template/src/lib/core/utils/zone-checks.ts
  libs/template/src/lib/render-strategies/strategies/default-local.strategy.ts
  libs/template/src/lib/render-strategies/strategies/strategies-map.ts
Labels: state, template

#284 fix(selectSlice): fixed undefined selected key behavior
  libs/state/spec/rxjs/operators/selectSlice.spec.ts
  libs/state/src/lib/rxjs/operators/selectSlice.ts
Labels: state

#287 test(render-strategies): improved render strategy tests
  libs/template/spec/fixtures/emissions.ts
  libs/template/spec/fixtures/fixtures.ts
  libs/template/spec/render-strategies/render-strategies/detach.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/global.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/local.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/native.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/noop.strategy.spec.ts
  libs/template/src/lib/render-strategies/strategies/local.strategy.ts
Labels: template

#292 test(static-coalesce): added tests
  libs/template/spec/render-strategies/static/static-coalesce.spec.ts
  libs/template/src/lib/render-strategies/static/static-coalesce.ts
Labels: template

#291 test(template): added missing promiseTick tests
  libs/template/spec/core/utils/get-global-this.spec.ts
  libs/template/spec/core/utils/get-zone-unpatched-api.spec.ts
  libs/template/spec/core/utils/view-engine-checks.spec.ts
  libs/template/spec/render-strategies/rxjs/scheduling/promiseTick.spec.ts
Labels: template

#299 test(static-coalesce-and-schedule): adopt signature, fix tests
  libs/template/spec/render-strategies/static/static-schedule-and-coalesced.spec.ts
  libs/template/src/lib/render-strategies/static/static-schedule-and-coalesced.ts
Labels: template

#290 Detache strategy
  libs/state/src/lib/rx-state.service.ts
  libs/template/docs/concepts.md
  libs/template/docs/images/bad-rendering-performance-angular.png
  libs/template/docs/images/coalescing.png
  libs/template/docs/images/scheduling-options.png
  libs/template/docs/images/template_logo.png
  libs/template/docs/images/template_rendering-strategies.png
  libs/template/docs/performance-issues.md
  libs/template/docs/render-strategies.md
  libs/template/spec/render-strategies/render-strategies/detach.strategy.spec.ts
  libs/template/src/lib/core/render-aware/interfaces.ts
  libs/template/src/lib/experimental/render-strategies/strategies/local.strategy.ts
  libs/template/src/lib/render-strategies/strategies/detach-strategy.ts
  libs/template/src/lib/render-strategies/strategies/local.strategy.ts
  libs/template/src/lib/render-strategies/strategies/strategies-map.ts
Labels: state, template

#296 feat(cdk-folder): intro cdk folder
  libs/state/spec/cdk/accumulation-observable.spec.ts
  libs/state/spec/cdk/side-effect-observable.spec.ts
  libs/state/spec/component-patterns/rx-state.component.spec.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rxjs/operators/stateful.spec.ts
  libs/state/src/lib/cdk/accumulation-observable.ts
  libs/state/src/lib/cdk/index.ts
  libs/state/src/lib/cdk/side-effect-observable.ts
  libs/state/src/lib/core/index.ts
  libs/state/src/lib/core/utils/guards.ts
  libs/state/src/lib/core/utils/index.ts
  libs/state/src/lib/core/utils/safe-pluck.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/transformation-helpers/array/insert.ts
  libs/state/src/lib/transformation-helpers/array/remove.ts
Labels: state

#298 test(static-schedule): fix tests
  .github/workflows/build-and-test.yml
  libs/template/spec/render-strategies/static/static-schedule.spec.ts
  libs/template/src/lib/render-strategies/static/static-schedule.ts
Labels: template

#306 chore(labaler): adopted labeling of PRs
  .github/labeler.yml
Labels: github

#307 chore(updates): update nx
  apps/docs/tsconfig.json
  apps/experiments/tsconfig.json
  apps/state-demo/tsconfig.json
  apps/template-demo/tsconfig.json
  apps/tour-of-heroes-ngxs/tsconfig.json
  apps/tour-of-heroes/tsconfig.json
  libs/state/tsconfig.json
  libs/template/tsconfig.json
  libs/test-helpers/tsconfig.json
  package.json
  tools/tsconfig.tools.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Labels: state, template

#300 Poc ChangeDetection over EmbeddedView
  apps/experiments/src/app/app.component.html
  apps/experiments/src/app/app.menu.ts
  apps/experiments/src/app/app.module.ts
  apps/experiments/src/app/app.routing.ts
  apps/experiments/src/app/cd-embedded-view/01/original-let.directive.ts
  apps/experiments/src/app/cd-embedded-view/01/parent.component.ts
  apps/experiments/src/app/cd-embedded-view/01/poc1-let.directive.ts
  apps/experiments/src/app/cd-embedded-view/02/parent.component.ts
  apps/experiments/src/app/cd-embedded-view/02/poc1-if.directive.ts
  apps/experiments/src/app/cd-embedded-view/02/poc2-if.directive.ts
  apps/experiments/src/app/cd-embedded-view/03/parent.component.ts
  apps/experiments/src/app/cd-embedded-view/03/poc1-for.directive.ts
  apps/experiments/src/app/cd-embedded-view/03/poc2-for.directive.ts
  apps/experiments/src/app/cd-embedded-view/03/poc3-for.directive.ts
  apps/experiments/src/app/cd-embedded-view/04/parent.component.ts
  apps/experiments/src/app/cd-embedded-view/04/poc1-switch-case.directive.ts
  apps/experiments/src/app/cd-embedded-view/04/poc1-switch.directive.ts
  apps/experiments/src/app/cd-embedded-view/cd-embedded-view.menu.ts
  apps/experiments/src/app/cd-embedded-view/cd-embedded-view.module.ts
  apps/experiments/src/app/cd-embedded-view/cd-embedded-view.overview.component.ts
  apps/experiments/src/app/cd-embedded-view/cd-embedded-view.routes.ts
  apps/experiments/src/app/renders/num-render.component.html
  apps/experiments/src/app/renders/num-render.component.scss
  apps/experiments/src/app/renders/num-render.component.ts
  apps/experiments/src/app/renders/renders.module.ts
  apps/experiments/src/polyfills.ts
Labels: template

#312 Proposal for updating tests for ɵmarkDirty
  libs/template/spec/render-strategies/render-strategies/global.strategy.spec.ts
Labels: template

#315 Updated docs for LetDirective and UnpatchEventDirective
  libs/template/docs/api/let-directive.md
  libs/template/src/lib/experimental/unpatch/events/unpatch-events.directive.ts
  libs/template/src/lib/let/let.directive.ts
Labels: documentation, template

#314 Cover strategyName$ as observable in render-aware_creator
  libs/template/spec/core/render-aware/render-aware_creator.spec.ts
Labels: template

#308 test(global-strategy): fix tests for markDirty
  libs/template/spec/let/let.directive.complete.spec.ts
  libs/template/spec/let/let.directive.error.spec.ts
  libs/template/spec/push/push.pipe.service.spec.ts
  libs/template/spec/render-strategies/render-strategies/global.strategy.spec.ts
Labels: template

#319 fix(experimental) rename experimental files
  apps/experiments/src/app/cd-embedded-view/cd-embedded-view.module.ts
  apps/template-demo/src/app/examples/rendering/render-queue/render-queue.module.ts
  apps/template-demo/src/app/shared/shared.module.ts
  apps/tour-of-heroes/src/app/app.module.ts
  libs/template/docs/unpatch.md
  libs/template/src/index.ts
  libs/template/src/lib/experimental/core/utils/view-engine-checks.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/operators/index.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/operators/renderChange.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/idleCallback.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/idleCallbackTick.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/index.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/intervalTick.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/postTask.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/postTaskTick.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/timeoutTick.experimental.ts
  libs/template/src/lib/experimental/render-strategies/strategies/index.ts
  libs/template/src/lib/experimental/render-strategies/strategies/local.strategy.experimental.ts
  libs/template/src/lib/experimental/unpatch/events/index.ts
  libs/template/src/lib/experimental/unpatch/events/unpatch-event-list.experimental.ts
  libs/template/src/lib/experimental/unpatch/events/unpatch-events.experimental.directive.ts
  libs/template/src/lib/experimental/unpatch/events/unpatch-events.experimental.module.ts
  libs/template/src/lib/experimental/viewport-prio/index.ts
  libs/template/src/lib/experimental/viewport-prio/viewport-prio.experimental.directive.ts
  libs/template/src/lib/experimental/viewport-prio/viewport-prio.module.ts
  libs/template/src/lib/render-strategies/rxjs/scheduling/priority-tick-map.ts
Labels: documentation, template

#341 docs(linking): update basic state tutorial in web docs
  docs/web/state/tutorials/basic-tutorial.md
Labels: documentation

#347 docs(web): replace slack link with discord
  README.md
  docs/web/partials/_sidebar.md
Labels: documentation
