Repository rx-angular/rx-angular, pull requests merged in 2020-08, with the labels that each got.

#210 fix(state): array length check strict
  libs/state/src/lib/rxjs/operators/selectSlice.ts
Labels: state

#215 docs(test-coverage): added test coverage to docs folder
  angular.json
  docs/.gitkeep
  libs/state/jest.config.js
  libs/template/jest.config.js
Labels: state, template

#218 Mock console in tests
  angular.json
  libs/template/spec/core/render-aware/render-aware_creator.spec.ts
  libs/template/spec/core/utils/create_properties-weakmap.spec.ts
  libs/template/spec/core/utils/get-global-this.spec.ts
  libs/template/spec/core/utils/view-engine-checks.spec.ts
  libs/template/spec/core/utils/zone-check.spec.ts
  libs/template/spec/let/let.directive.complete.spec.ts
  libs/template/spec/let/let.directive.error.spec.ts
  libs/template/spec/let/let.directive.next.spec.ts
  libs/template/spec/let/let.directive.strategy.spec.ts
  libs/template/spec/let/let.directive.template-binding.all.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-complete.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-error.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-suspense.spec.ts
  libs/template/spec/push/push.pipe.service.spec.ts
  libs/template/spec/push/push.pipe.spec.ts
  libs/template/spec/render-strategies/experiments/task-time.spec.ts
  libs/template/spec/render-strategies/rxjs/coalesceWith.spec.ts
  libs/template/spec/render-strategies/static/static-coalesce.spec.ts
  libs/template/spec/render-strategies/static/static-schedule-and-coalesced.spec.ts
  libs/template/spec/render-strategies/static/static-schedule.spec.ts
  libs/template/spec/render-strategies/strategy.spec.ts
  libs/test-helpers/src/lib/utils/index.ts
  libs/test-helpers/src/lib/utils/mock-console.ts
Labels: template

#200 Fixed inferring type from a subtype of a state provided for RxState
  libs/state/src/lib/rxjs/operators/selectSlice.ts
Labels: state

#206 GitHub health files
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .github/SUPPORT.md
Labels: documentation

#211 Strategy switch bug
  libs/template/spec/core/render-aware/render-aware_creator.spec.ts
  libs/template/spec/core/utils/create_properties-weakmap.spec.ts
  libs/template/spec/core/utils/get-global-this.spec.ts
  libs/template/spec/core/utils/view-engine-checks.spec.ts
  libs/template/spec/core/utils/zone-check.spec.ts
  libs/template/spec/fixtures/fixtures.ts
  libs/template/spec/let/let.directive.complete.spec.ts
  libs/template/spec/let/let.directive.error.spec.ts
  libs/template/spec/let/let.directive.next.spec.ts
  libs/template/spec/let/let.directive.strategy.spec.ts
  libs/template/spec/let/let.directive.template-binding.all.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-complete.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-error.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-suspense.spec.ts
  libs/template/spec/push/push.pipe.service.spec.ts
  libs/template/spec/push/push.pipe.spec.ts
  libs/template/spec/render-strategies/experiments/task-time.spec.ts
  libs/template/spec/render-strategies/static/static-coalesce.spec.ts
  libs/template/spec/render-strategies/static/static-schedule-and-coalesced.spec.ts
  libs/template/spec/render-strategies/static/static-schedule.spec.ts
  libs/template/src/lib/core/render-aware/render-aware_creator.ts
Labels: template

#229 chore(github-actions) improved actions and labeler
  .github/labeler.yml
  .github/workflows/build-and-test.yml
Labels: github, root-files-affected

#194 Added warning about unpatch & routing
  libs/template/docs/unpatch.md
Labels: template

#223 Changes in state docs
  libs/state/docs/api/operators/distinct-until-some-changed.md
  libs/state/docs/api/operators/interfaces.md
  libs/state/docs/api/operators/select-slice.md
  libs/state/docs/api/operators/select.md
  libs/state/docs/api/operators/stateful.md
  libs/state/docs/api/rx-state.md
  libs/state/docs/api/transformation-helpers/array/insert.md
  libs/state/docs/api/transformation-helpers/array/remove.md
  libs/state/docs/api/transformation-helpers/array/to-dictionary.md
  libs/state/docs/api/transformation-helpers/array/update.md
  libs/state/docs/api/transformation-helpers/interfaces/only-keys-of-specific-type.md
  libs/state/docs/api/transformation-helpers/object/delete-prop.md
  libs/state/docs/api/transformation-helpers/object/dictionary-to-array.md
  libs/state/docs/api/transformation-helpers/object/patch.md
  libs/state/docs/api/transformation-helpers/object/set-prop.md
  libs/state/docs/api/transformation-helpers/object/toggle.md
  libs/state/docs/snippets/behavior-subject-vs-rx-state.md
  libs/state/docs/snippets/composing-state-using-ngrx-selectors.md
  libs/state/docs/snippets/hostbindings.md
  libs/state/docs/snippets/how-can-i-run-partial-state-updates.md
  libs/state/docs/snippets/manage-collections-with-ngrx-entity.md
  libs/state/docs/snippets/selecting-the-viewmodel.md
  libs/state/docs/usage.md
  libs/state/images/api-reveal.jpg
  libs/state/images/api-schema.jpg
  libs/template/src/lib/render-strategies/rxjs/operators/coalesceWith.ts
Labels: root-files-affected, state, template

#232 docs(github-page):
  .github/labeler.yml
  libs/state/README.md
  libs/template/README.md
Labels: github, root-files-affected, state, template

#222 Fix TemplateManager detaching template too often
  apps/experiments/src/app/irrelevant-to-test/animation/grow/grow.component.html
  libs/template/spec/core/utils/template-manager_creator.spec.ts
  libs/template/spec/let/let.directive.next.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-suspense.spec.ts
  libs/template/src/lib/core/utils/template-manager_creator.ts
  libs/template/src/lib/let/let.directive.ts
Labels: template

#197 Bugfix/fix return type for get method
  libs/state/spec/core/utils/safe-pluck.spec.ts
  libs/state/src/lib/core/utils/safe-pluck.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rxjs/operators/distinctUntilSomeChanged.ts
Labels: state

#236 Use correct object guard in safePluck
  libs/state/src/lib/core/utils/safe-pluck.ts
Labels: state

#235 State docs fixes
  apps/state-demo/src/app/examples/demo-basics/Readme.md
  libs/state/README.md
  libs/state/docs/api/rx-state.md
  libs/state/docs/snippets/selecting-the-viewmodel.md
  libs/template/README.md
Labels: state, template

#242 fix(coverage): exclude index files from coverage, adopted state config
  libs/state/jest.config.js
  libs/template/jest.config.js
Labels: state, template

#180 chore(docs): Update snippet 'global-state-vs-local-state'
  libs/state/docs/snippets/global-state-vs-local-state.md
  libs/state/docs/snippets/manage-global-state.md
Labels: state

#244 Update state readme.md with link to global state snippet
  libs/state/README.md
Labels: state

#254 fix(template): fix let directive initial view
  libs/template/spec/let/let.directive.next.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-suspense.spec.ts
  libs/template/src/lib/let/let.directive.ts
Labels: template

#253 Updated and generated docs for LetDirective
  libs/template/README.md
  libs/template/docs/api/let-directive.md
  libs/template/docs/api/overview.md
  libs/template/docs/let.md
  libs/template/src/lib/let/let.directive.ts
  tools/scripts/docs/generate-typescript-docs.ts
  tools/scripts/docs/typescript-docgen-types.ts
  tools/scripts/docs/typescript-docs-parser.ts
  tools/scripts/docs/typescript-docs-renderer.ts
Labels: documentation, template

#240 fix(template): add tests for envZonePatched
  libs/template/spec/core/utils/zone-check.spec.ts
Labels: template

#241 Move unused code to experimental
  libs/template/spec/core/utils/view-engine-checks.spec.ts
  libs/template/src/index.ts
  libs/template/src/lib/core/utils/index.ts
  libs/template/src/lib/experimental/core/utils/view-engine-checks.ts
  libs/template/src/lib/experimental/render-strategies/index.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/operators/index.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/operators/renderChange.ts
  libs/template/src/lib/render-strategies/rxjs/operators/coalesceWith.ts
  libs/template/src/lib/render-strategies/rxjs/operators/index.ts
Labels: template

#255 Fixed references to docs for LetDirective
  libs/template/README.md
  libs/template/docs/push.md
Labels: template

#258 fix(viewport-prio): fix demo in template
  apps/template-demo/src/app/examples/prioritize-in-viewport/solution/let1.container.component.ts
  libs/template/src/lib/experimental/viewport-prio/viewport-prio.directive.ts
Labels: template

#259 fix(export-experimental): export interfaces for custom strategies
  libs/template/src/index.ts
Labels: template

#246 Automated release
  .github/poc/release.yml
  angular.json
  libs/state/CHANGELOG.md
  libs/template/CHANGELOG.md
  package.json
Labels: chore, enhancement, state, template

#264 test(render-aware): implemented missing tests
  libs/template/spec/core/render-aware/render-aware_creator.spec.ts
Labels: template

#266 test(coalesceWith): added tests for error handling
  libs/template/spec/render-strategies/rxjs/coalesceWith.spec.ts
Labels: template

#273 fix(push-pipe): complete API docs
  libs/template/src/lib/push/push.module.ts
Labels: template

#275 docs(setAccumulator): Create docs for API, usage and rx-state
  libs/state/docs/api/rx-state.md
  libs/state/docs/usage.md
  libs/state/src/lib/rx-state.service.ts
Labels: state

#276 Harmonize reactive context
  libs/template/spec/core/render-aware/render-aware_creator.spec.ts
  libs/template/src/lib/core/model.ts
  libs/template/src/lib/core/render-aware/render-aware_creator.ts
  libs/template/src/lib/let/let.directive.ts
  libs/template/src/lib/push/push.pipe.ts
Labels: template

#265 Additional tests for LetDirective
  libs/template/spec/core/render-aware/render-aware_creator.spec.ts
  libs/template/spec/let/let.directive.strategy.spec.ts
  libs/template/spec/let/let.directive.template-binding.all.spec.ts
Labels: template

#274 fix(strategies): complete API docs
  libs/template/src/lib/render-strategies/strategies/global.strategy.ts
  libs/template/src/lib/render-strategies/strategies/local.strategy.ts
  libs/template/src/lib/render-strategies/strategies/native.strategy.ts
  libs/template/src/lib/render-strategies/strategies/noop.strategy.ts
  libs/template/src/lib/render-strategies/strategies/strategies-map.ts
Labels: template

#278 Fix path to the logo image in the docs app
  docs/web/partials/_coverpage.md
Labels: documentation

#279 test(zone-check): implemented missing zone-check tests
  libs/template/spec/core/utils/zone-check.spec.ts
Labels: template
