Repository rx-angular/rx-angular, pull requests merged in 2020-07, with the labels that each got.

#164 Selectslice distinctuntil signature
  libs/state/spec/rxjs/operators/distinctUntilSomeChanged.spec.ts
  libs/state/src/lib/rxjs/interfaces/compare-fn.ts
  libs/state/src/lib/rxjs/operators/distinctUntilSomeChanged.ts
  libs/state/src/lib/rxjs/operators/selectSlice.ts
Labels: state

#170 Create build-and-test.yml
  .github/workflows/build-and-test.yml
  libs/state/src/lib/rxjs/operators/distinctUntilSomeChanged.ts
  package.json
  yarn.lock
Labels: state

#172 test(state) test unsubscribe and implement complete
  libs/state/spec/core/accumulation-observable.spec.ts
  libs/state/src/lib/core/accumulation-observable.ts
Labels: state

#169 Transformation helpers.
  .circleci/config.yml
  libs/state/docs/api/overview.md
  libs/state/docs/api/transformation-helpers/array/insert.md
  libs/state/docs/api/transformation-helpers/array/remove.md
  libs/state/docs/api/transformation-helpers/array/to-dictionary.md
  libs/state/docs/api/transformation-helpers/array/update.md
  libs/state/docs/api/transformation-helpers/edge-cases-overview.md
  libs/state/docs/api/transformation-helpers/interfaces/only-keys-of-specific-type.md
  libs/state/docs/api/transformation-helpers/object/delete-prop.md
  libs/state/docs/api/transformation-helpers/object/dictionary-to-array.md
  libs/state/docs/api/transformation-helpers/object/patch.md
  libs/state/docs/api/transformation-helpers/object/set-prop.md
  libs/state/docs/api/transformation-helpers/object/toggle.md
  libs/state/docs/api/transformation-helpers/transformation-helpers.md
  libs/state/spec/core/utils/typing.spec.ts
  libs/state/spec/transformation-helpers/_internals/valuesComparer.spec.ts
  libs/state/spec/transformation-helpers/array/insert.spec.ts
  libs/state/spec/transformation-helpers/array/remove.spec.ts
  libs/state/spec/transformation-helpers/array/toDictionary.spec.ts
  libs/state/spec/transformation-helpers/array/update.spec.ts
  libs/state/spec/transformation-helpers/object/deleteProp.spec.ts
  libs/state/spec/transformation-helpers/object/dictionaryToArray.spec.ts
  libs/state/spec/transformation-helpers/object/patch.spec.ts
  libs/state/spec/transformation-helpers/object/setProp.spec.ts
  libs/state/spec/transformation-helpers/object/toggle.spec.ts
  libs/state/src/lib/core/utils/index.ts
  libs/state/src/lib/core/utils/typing.ts
  libs/state/src/lib/index.ts
  libs/state/src/lib/rxjs/operators/distinctUntilSomeChanged.ts
  libs/state/src/lib/transformation-helpers/_internals/valuesComparer.util.ts
  libs/state/src/lib/transformation-helpers/array/index.ts
  libs/state/src/lib/transformation-helpers/array/insert.ts
  libs/state/src/lib/transformation-helpers/array/remove.ts
  libs/state/src/lib/transformation-helpers/array/toDictionary.ts
  libs/state/src/lib/transformation-helpers/array/update.ts
  libs/state/src/lib/transformation-helpers/interfaces/comparable-data-type.ts
  libs/state/src/lib/transformation-helpers/interfaces/only-keys-of-specific-type.ts
  libs/state/src/lib/transformation-helpers/object/deleteProp.ts
  libs/state/src/lib/transformation-helpers/object/dictionaryToArray.ts
  libs/state/src/lib/transformation-helpers/object/index.ts
  libs/state/src/lib/transformation-helpers/object/patch.ts
  libs/state/src/lib/transformation-helpers/object/setProp.ts
  libs/state/src/lib/transformation-helpers/object/toggle.ts
Labels: state

#161 Refactor get method
  libs/state/docs/api/rx-state.md
  libs/state/spec/core/utils/safe-pluck.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/core/utils/index.ts
  libs/state/src/lib/core/utils/safe-pluck.ts
  libs/state/src/lib/rx-state.service.ts
Labels: state

#181 Fix for state demo di
  apps/state-demo/src/app/examples/demo-basics/solution/demo-basics.component.ts
  libs/state/spec/core/utils/safe-pluck.spec.ts
Labels: state

#176 fix(state) improve typing and tests of connect
  libs/state/spec/core/accumulation-observable.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Labels: state

#179 fix(state): fixed selectSlice typing
  apps/experiments/src/app/state/rx-state.menu.ts
  apps/experiments/src/app/state/rx-state.module.ts
  apps/experiments/src/app/state/rx-state.routes.ts
  apps/experiments/src/app/state/selectslice/select-slice.component.css
  apps/experiments/src/app/state/selectslice/select-slice.component.html
  apps/experiments/src/app/state/selectslice/select-slice.component.ts
  libs/state/spec/rxjs/operators/selectSlice.spec.ts
  libs/state/src/lib/rxjs/operators/selectSlice.ts
Labels: state

#182 Fix for globalThis issue in old browsers.
  libs/template/src/lib/core/utils/get-global-this.ts
Labels: template

#175 Log errors in accumulator
  libs/state/spec/core/accumulation-observable.spec.ts
  libs/state/src/lib/core/accumulation-observable.ts
Labels: state

#168 test(state) remove and test filter undefined
  libs/state/docs/api/operators/distinct-until-some-changed.md
  libs/state/docs/api/operators/interfaces.md
  libs/state/docs/api/operators/select-slice.md
  libs/state/docs/api/operators/select.md
  libs/state/docs/api/operators/stateful.md
  libs/state/docs/api/rx-state.md
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rxjs/interfaces/compare-fn.ts
Labels: state

#189 fix(state): fix tests in selectSlice and distinctUntilSomeChanges
  libs/state/spec/rxjs/operators/distinctUntilSomeChanged.spec.ts
  libs/state/spec/rxjs/operators/selectSlice.spec.ts
  libs/state/src/lib/rxjs/operators/selectSlice.ts
Labels: state

#187 Ng 10 upgrade
  10.0.6
  angular.json
  apps/docs/.browserslistrc
  apps/docs/jest.config.js
  apps/docs/tsconfig.json
  apps/experiments/.browserslistrc
  apps/experiments/jest.config.js
  apps/experiments/src/app/base.component.ts/base.component.ts
  apps/experiments/tsconfig.json
  apps/state-demo/.browserslistrc
  apps/state-demo/jest.config.js
  apps/state-demo/tsconfig.json
  apps/template-demo/.browserslistrc
  apps/template-demo/index.html
  apps/template-demo/jest.config.js
  apps/template-demo/src/app/examples/coalescing/experiments-profiling/coalescing-test.service.ts
  apps/template-demo/src/app/examples/shared/loadtest/load-test.service.ts
  apps/template-demo/tsconfig.json
  apps/tour-of-heroes-ngxs/.browserslistrc
  apps/tour-of-heroes-ngxs/jest.config.js
  apps/tour-of-heroes-ngxs/tsconfig.json
  apps/tour-of-heroes/.browserslistrc
  apps/tour-of-heroes/jest.config.js
  apps/tour-of-heroes/src/index.html
  apps/tour-of-heroes/tsconfig.json
  decorate-angular-cli.js
  libs/state/jest.config.js
  libs/state/package.json
  libs/state/tsconfig.json
  libs/template/jest.config.js
  libs/template/package.json
  libs/template/spec/core/render-aware/render-aware_creator.spec.ts
  libs/template/tsconfig.json
  libs/test-helpers/jest.config.js
  libs/test-helpers/tsconfig.json
  nx.json
  package.json
  tools/tsconfig.tools.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Labels: state, template

#190 fix(rx-angular): ignore nx boundaries in tests
  libs/state/spec/core/accumulation-observable.spec.ts
  libs/state/spec/core/side-effect-observable.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rxjs/operators/distinctUntilSomeChanged.spec.ts
  libs/state/spec/rxjs/operators/select.spec.ts
  libs/state/spec/rxjs/operators/selectSlice.spec.ts
  libs/state/spec/rxjs/operators/stateful.spec.ts
  libs/template/spec/render-strategies/rxjs/coalesceWith.spec.ts
  libs/template/spec/render-strategies/static/static-schedule-and-coalesced.spec.ts
  libs/template/spec/render-strategies/strategy.spec.ts
  nx.json
  tslint.json
Labels: state, template
