Repository rx-angular/rx-angular, pull requests merged in 2020-10, with the labels that each got.

#348 docs(template): remove mentions of experimental features
  libs/template/README.md
  libs/template/docs/api/let-directive.md
  libs/template/docs/api/overview.md
  libs/template/docs/concepts.md
  libs/template/docs/experimental/experimental-render-strategies.md
  libs/template/docs/experimental/unpatch.md
  libs/template/docs/experimental/viewport-prio.md
  libs/template/docs/performance-issues.md
  libs/template/docs/push.md
  libs/template/docs/render-strategies.md
  libs/template/docs/viewport-prio.md
Labels: documentation, template

#356 docs(general): add performance.md
  docs/general/performance.md
Labels: documentation

#349 fix(transformation-helpers): log warning only if source is not empty.
  libs/state/spec/transformation-helpers/array/toDictionary.spec.ts
  libs/state/src/lib/transformation-helpers/array/toDictionary.ts
Labels: state

#361 (POC) Change strategy at runtime
  libs/template/src/lib/experimental/strategies-setup/default-strategies.interface.ts
  libs/template/src/lib/experimental/strategies-setup/index.ts
  libs/template/src/lib/experimental/strategies-setup/strategies-setup.service.ts
Labels: template

#365 RenderAware fix
  apps/demos/src/app/features/template/push/push-basic-example/push-basic-example.component.ts
  apps/demos/src/app/features/template/push/push-basic-example/push-basic-example.module.ts
  apps/demos/src/app/features/template/push/push.routes.ts
  libs/template/src/lib/core/render-aware/render-aware_creator.ts
Labels: template

#360 docs(template): document the reactive context
  libs/template/docs/reactive-context.md
Labels: documentation, template

#368 Documentation SEO fixes
  apps/demos/src/app/features/experiments/cd-embedded-view/rx-switch-poc/rx-switch-poc.component.ts
  apps/demos/src/app/features/tutorials/basics/1-setup/Readme.md
  docs/index.html
Labels: documentation

#370 Polish ev pocs
  apps/demos/src/app/features/experiments/cd-embedded-view/cd-embedded-view.menu.ts
  apps/demos/src/app/features/experiments/cd-embedded-view/rx-if-poc/rx-if-poc.component.ts
  apps/demos/src/app/features/experiments/experiments-shell.menu.ts
  apps/demos/src/app/features/experiments/experiments-shell.module.ts
  apps/demos/src/app/features/experiments/strategies/strategies.menu.ts
  apps/demos/src/app/features/experiments/strategies/strategies.routes.ts
  apps/demos/src/app/features/experiments/structural-directives/03/parent.component.ts
  apps/demos/src/app/features/experiments/structural-directives/03/poc1-for.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/03/poc2-for.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/03/poc3-for.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/05/parent.component.ts
  apps/demos/src/app/features/experiments/structural-directives/05/poc5-locv.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/06/parent.component.ts
  apps/demos/src/app/features/experiments/structural-directives/06/poc6-locv.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/06/poc6-locv2.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-if-poc/poc1-if.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-if-poc/poc2-if.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-if-poc/poc3-if.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-if-poc/rx-if-poc.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-if-poc/rx-if-poc.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-if-poc/rx-if-poc.routes.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/poc1-switch-case.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/poc1-switch.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-swicht-poc.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-swicht-poc.routes.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.component.ts
  apps/demos/src/app/features/experiments/structural-directives/structural-directives.menu.ts
  apps/demos/src/app/features/experiments/structural-directives/structural-directives.module.ts
  apps/demos/src/app/features/experiments/structural-directives/structural-directives.routes.ts
  apps/demos/src/app/features/experiments/structural-directives/utils.ts
  apps/demos/src/app/features/experiments/structural-directives/view-vs-embedded-view/original-let.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/view-vs-embedded-view/poc1-let.directive.ts
  apps/demos/src/app/features/experiments/structural-directives/view-vs-embedded-view/view-vs-embedded-view.component.ts
  apps/demos/src/app/features/experiments/structural-directives/view-vs-embedded-view/view-vs-embedded-view.module.ts
  apps/demos/src/app/features/experiments/structural-directives/view-vs-embedded-view/view-vs-embedded-view.routes.ts
  apps/demos/src/app/features/fundamentals/change-detection/change-detection.menu.ts
  apps/demos/src/app/features/fundamentals/change-detection/change-detection.routes.ts
  apps/demos/src/app/features/fundamentals/change-detection/coalescing/coalescing.module.ts
  apps/demos/src/app/features/fundamentals/change-detection/coalescing/coalescing.routes.ts
  apps/demos/src/app/features/fundamentals/change-detection/coalescing/coalescing/coalescing-test.service.ts
  apps/demos/src/app/features/fundamentals/change-detection/coalescing/coalescing/coalescing.component.ts
  apps/demos/src/app/features/fundamentals/change-detection/scheduling/scheduling.module.ts
  apps/demos/src/app/features/fundamentals/change-detection/scheduling/scheduling.routes.ts
  apps/demos/src/app/features/fundamentals/change-detection/scheduling/scheduling/scheduling.component.ts
  apps/demos/src/app/shared/debug-helper/dirty-checks/dirty-checks.component.scss
  apps/demos/src/app/shared/debug-helper/dirty-checks/dirty-checks.component.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.component.scss
  apps/demos/src/app/shared/debug-helper/renderings/renderings.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value-provider/value-provider.component.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer.module.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer/visualizer.component.ts
  apps/demos/src/app/shared/utils/to-never.ts
  apps/demos/src/styles.scss
  apps/demos/src/styles/_debug-helpers.scss
  libs/template/src/index.ts
Labels: template

#375 Fix md files formatting
  libs/state/CHANGELOG.md
  libs/state/README.md
  libs/state/docs/FAQ.md
  libs/state/docs/api/operators/distinct-until-some-changed.md
  libs/state/docs/api/operators/interfaces.md
  libs/state/docs/api/operators/select-slice.md
  libs/state/docs/api/operators/select.md
  libs/state/docs/api/operators/stateful.md
  libs/state/docs/api/overview.md
  libs/state/docs/api/rx-state.md
  libs/state/docs/api/transformation-helpers/array/insert.md
  libs/state/docs/api/transformation-helpers/array/remove.md
  libs/state/docs/api/transformation-helpers/array/to-dictionary.md
  libs/state/docs/api/transformation-helpers/array/update.md
  libs/state/docs/api/transformation-helpers/edge-cases-overview.md
  libs/state/docs/api/transformation-helpers/interfaces/only-keys-of-specific-type.md
  libs/state/docs/api/transformation-helpers/object/delete-prop.md
  libs/state/docs/api/transformation-helpers/object/dictionary-to-array.md
  libs/state/docs/api/transformation-helpers/object/patch.md
  libs/state/docs/api/transformation-helpers/object/set-prop.md
  libs/state/docs/api/transformation-helpers/object/toggle.md
  libs/state/docs/api/transformation-helpers/transformation-helpers.md
  libs/state/docs/concepts-and-best-practices.md
  libs/state/docs/snippets/composing-state-using-ngrx-selectors.md
  libs/state/docs/snippets/deriving-simple-state.md
  libs/state/docs/snippets/get-nested-state-slices.md
  libs/state/docs/snippets/global-state-vs-local-state.md
  libs/state/docs/snippets/hostbindings.md
  libs/state/docs/snippets/how-can-i-run-partial-state-updates.md
  libs/state/docs/snippets/loading-state-and-data-fetching.md
  libs/state/docs/snippets/logic-comparison--increment-a-value.md
  libs/state/docs/snippets/manage-collections-with-ngrx-entity.md
  libs/state/docs/snippets/manage-global-state.md
  libs/state/docs/snippets/passing-observables-directly.md
  libs/state/docs/snippets/selecting-the-viewmodel.md
  libs/state/docs/usage.md
  libs/template/CHANGELOG.md
  libs/template/README.md
  libs/template/docs/api/let-directive.md
  libs/template/docs/api/overview.md
  libs/template/docs/concepts.md
  libs/template/docs/experimental/experimental-render-strategies.md
  libs/template/docs/experimental/unpatch.md
  libs/template/docs/experimental/viewport-prio.md
  libs/template/docs/performance-issues.md
  libs/template/docs/push.md
  libs/template/docs/render-strategies.md
  libs/test-helpers/README.md
Labels: documentation, state, template

#381 chore(labeler): sync labels
  .github/labeler.yml
Labels: ⚙️ Chore

#384 feat(template-manager): Add optional id to embeddedView name
  libs/template/spec/core/utils/template-manager_creator.spec.ts
  libs/template/src/lib/core/utils/template-manager_creator.ts
Labels: </> Template, ✍️ Enhancement, 🛂 Test

#385 docs(fix): update discord link
  README.md
  docs/web/partials/_sidebar.md
Labels: 📚 Docs Web

#386 Polish passing values
  apps/demos/src/app/app-component/app-component.module.ts
  apps/demos/src/app/app-component/app.component.html
  apps/demos/src/app/features/fundamentals/nested-vs-injected/nested-vs-injected.module.ts
  apps/demos/src/app/features/fundamentals/nested-vs-injected/nested-vs-projected.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/passing-values.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/passing-values.module.ts
  apps/demos/src/app/features/fundamentals/passing-values/recursive/recursive-async.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/recursive/recursive-component-let.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/recursive/recursive-embedded-view-let.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/recursive/recursive-observable.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/recursive/recursive-push.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/recursive/recursive-reactive.component.ts
  apps/demos/src/app/features/fundamentals/passing-values/recursive/recursive-static.component.ts
  apps/demos/src/app/features/performance/alphas-compare/alpha-1-toggle/alpha-1-toggle.module.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.component.ts
  docs/general/angular-change-detection.md
  docs/general/rfc-rx-angular.md
  docs/general/test-spec.md
Labels: 📚 Docs Web

#393 Docs/usage
  libs/state/docs/api/operators/stateful.md
  libs/state/docs/usage.md
Labels: { } State, 📖 Docs API, 📚 Docs Web

#397 edit ng-if hack
  apps/demos/src/app/features/performance/nested-ng-if/nested-ng-if.component.ts
  apps/demos/src/app/features/performance/nested-ng-if/nested-ng-if.module.ts
  apps/demos/src/app/features/performance/nested-ng-if/nested-ng-if.routes.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack-async.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack-push.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack-rx-let.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack-static.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value-provider/value-provider.component.ts
  libs/template/src/lib/experimental/unpatch/events/unpatch-events.experimental.directive.ts
Labels: </> Template, 🔬 Experimental

#401 docs(demos): add measure utils
  apps/demos/src/app/features/performance/sibling-component-structure/sibling-component-structure.component.ts
  apps/demos/src/app/shared/debug-helper/work/work.component.ts
  apps/demos/src/app/shared/debug-helper/work/work.module.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-progressive.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-push.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling.module.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling.scss
  apps/demos/src/app/shared/utils/measure.ts
  apps/demos/src/main.ts
  apps/demos/src/styles/_debug-helpers.scss
Labels: 🃏 Demos, 🔍 Research, 🛂 Test

#379 Chrome Devtools Protocol integrated with Cypress tests
  apps/demos-e2e/src/integration/app.spec.ts
  apps/demos-e2e/src/plugins/index.js
  apps/demos-e2e/src/support/app.po.ts
  apps/demos-e2e/src/support/devtools-protocol-tasks.utils.ts
  apps/demos-e2e/src/support/rx-let-vs-push.po.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/list-toggle-test-component/list-toggle-test.component.html
  package.json
  yarn.lock
Labels: ⚗️ POC

#391 Fix state get return value
  libs/state/spec/core/utils/safe-pluck.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Labels: { } State, 🛂 Test
