Repository rx-angular/rx-angular, pull requests merged in 2021-08, with the labels that each got.

#871 chore: setup nx-cloud CI
  .github/workflows/build-and-test.yml
  libs/cdk/zone-configurations/ng-package.json
  libs/cdk/zone-configurations/package.json
  nx.json
  package.json
  yarn.lock
Labels: ⚙️ Chore, 🛠️ CDK

#868 docs(let): fix template binding not found
  libs/template/docs/api/let-directive.md
Labels: </> Template, 📖 Docs API

#853 refactor(cdk): export pick-slice type
  libs/state/src/lib/index.ts
  libs/state/src/lib/rxjs/interfaces/index.ts
  libs/state/src/lib/rxjs/interfaces/pick-slice.ts
  libs/state/src/lib/rxjs/operators/selectSlice.ts
Labels: { } State

#854 chore: upgrade workspace
  angular.json
  apps/demos/jest.config.js
  apps/demos/src/app/app-shell/_app-shell.theme.scss
  apps/demos/src/app/app-shell/side-nav/side-nav.component.ts
  apps/demos/src/styles/_logger.scss
  apps/demos/src/styles/theme.scss
  apps/demos/tslint.json
  apps/docs/jest.config.js
  apps/ssr/.eslintrc.json
  apps/ssr/jest.config.js
  apps/tour-of-heroes-ngxs/jest.config.js
  apps/vanilla-case-studies/jest.config.js
  jest.config.js
  libs/cdk/coalescing/.eslintrc.json
  libs/cdk/coalescing/jest.config.js
  libs/cdk/coercing/.eslintrc.json
  libs/cdk/coercing/jest.config.js
  libs/cdk/internals/scheduler/.eslintrc.json
  libs/cdk/internals/scheduler/jest.config.js
  libs/cdk/jest.config.js
  libs/cdk/notifications/.eslintrc.json
  libs/cdk/notifications/jest.config.js
  libs/cdk/spec/template-management/list-manager.spec.ts
  libs/cdk/spec/template-management/template-manager.spec.ts
  libs/cdk/zone-configurations/.eslintrc.json
  libs/cdk/zone-configurations/jest.config.js
  libs/cdk/zone-less/jest.config.js
  libs/state/jest.config.js
  libs/state/src/lib/transformation-helpers/_internals/valuesComparer.util.ts
  libs/template/jest.config.js
  libs/template/let/.eslintrc.json
  libs/template/let/jest.config.js
  libs/template/push/.eslintrc.json
  libs/template/push/jest.config.js
  libs/template/spec/core/utils/template-manager_creator.spec.ts
  libs/template/spec/fixtures/fixtures.ts
  libs/template/spec/render-strategies/render-strategies/detach.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/global.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/local.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/native.strategy.spec.ts
  libs/template/spec/render-strategies/static/static-coalesce.spec.ts
  libs/template/spec/render-strategies/static/static-schedule.spec.ts
  libs/template/unpatch/.eslintrc.json
  libs/template/unpatch/jest.config.js
  migrations.json
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Labels: </> Template, { } State, 🛂 Test, 🛠️ CDK

#832 rxFor error with @angular/cdk drag and drop
  apps/demos/src/app/features/integrations/dnd/dnd.component.ts
  apps/demos/src/app/features/integrations/integrations-shell.menu.ts
  apps/demos/src/app/features/integrations/integrations-shell.module.ts
  libs/cdk/spec/template-management/list-manager.spec.ts
  libs/cdk/src/lib/template-management/list-template-manager.ts
  libs/cdk/src/lib/template-management/list-view-handler.ts
Labels: 🛂 Test, 🛠️ CDK

#820 fix(cdk): setup polyfills for non browser environments in scheduler
  apps/ssr-e2e/src/integration/app.spec.ts
  apps/ssr/src/app/app.component.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
Labels: </> Template, 🛠️ CDK

#907 chore: workspace & rxjs@7.x upgrade
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-and-reactive-forms/rx-state-and-reactive-forms.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-and-subjects/rx-state-and-subjects.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-as-presenter/counter.presenter.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-in-the-view/rx-state-in-the-view.component.ts
  apps/demos/src/app/features/template/render-callback/render-callback.component.ts
  apps/demos/src/app/features/template/rx-let/lazy-loading-components/lazy-loading-components-observable.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-http-example.component.ts
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.component.ts
  apps/demos/src/app/features/tutorials/basics/5-side-effects/side-effects.solution.component.ts
  apps/demos/src/app/shared/debug-helper/hooks.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/primitives-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/utils.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value-provider/value-provider.component.ts
  apps/demos/src/app/shared/debug-helper/work/work.component.ts
  libs/cdk/coalescing/spec/coalesceWith.spec.ts
  libs/cdk/coalescing/src/lib/coalesceWith.ts
  libs/cdk/coercing/src/lib/coerceObservable.ts
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/cdk/src/lib/template-management/list-template-manager.ts
  libs/cdk/src/lib/template-management/model.ts
  libs/cdk/src/lib/template-management/utils.ts
  libs/cdk/zone-less/src/rxjs/scheduler/async/AsyncAction.ts
  libs/state/package.json
  libs/state/spec/cdk/accumulation-observable.spec.ts
  libs/state/spec/fixtures.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rxjs/operators/distinctUntilSomeChanged.spec.ts
  libs/state/src/lib/cdk/accumulation-observable.ts
  libs/state/src/lib/cdk/side-effect-observable.ts
  libs/state/src/lib/rx-state.service.ts
  package.json
  yarn.lock
Labels: { } State, 🛂 Test, 🛠️ CDK

#848 fix(schematics): fix template migration
  libs/template/schematics/migration.json
  libs/template/schematics/src/common/utils/changes.ts
  libs/template/schematics/src/migrations/update-1-0-0/index.spec.ts
  libs/template/schematics/src/migrations/update-1-0-0/index.ts
Labels: </> Template
