Repository rx-angular/rx-angular, pull requests merged in 2021-04, with the labels that each got.

#640 fix(demos): fix most of the demos
  apps/demos/src/app/features/concepts/coalescing/coalescing.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.component.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.component.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/switch/rx-switch-case.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/switch/rx-switch.directive.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select/strategy-select.component.ts
  libs/cdk/src/lib/cdk-config.ts
Labels: 🛠️ CDK

#646 fix fromEvent always subscribing on document
  apps/demos/src/app/rx-angular-pocs/cdk/utils/zone-agnostic/rxjs/operators/fromEvent.ts
  libs/cdk/src/lib/zone-less/rxjs/operators/fromEvent.ts
Labels: 🛠️ CDK

#645 Polish basics tutorial
  apps/demos/src/app/features/tutorials/basics/1-setup/Readme.md
  apps/demos/src/app/features/tutorials/basics/1-setup/setup.start.component.ts
  apps/demos/src/app/features/tutorials/basics/2-input-bindings/Readme.md
  apps/demos/src/app/features/tutorials/basics/2-input-bindings/input-bindings.start.component.ts
  apps/demos/src/app/features/tutorials/basics/3-output-bindings/Readme.md
  apps/demos/src/app/features/tutorials/basics/3-output-bindings/output-bindings.start.component.ts
  apps/demos/src/app/features/tutorials/basics/4-global-state/Readme.md
  apps/demos/src/app/features/tutorials/basics/4-global-state/global-state.start.component.ts
  apps/demos/src/app/features/tutorials/basics/5-side-effects/Readme.md
  apps/demos/src/app/features/tutorials/basics/5-side-effects/side-effects.start.component.ts
  apps/demos/src/app/features/tutorials/basics/Readme.md
  libs/cdk/docs/zone-configuration/zone-flags.md
  libs/template/src/lib/core/utils/zone-checks.ts
  package.json
  yarn.lock
Labels: </> Template, 📖 Docs API, 🛠️ CDK

#614 Fix typo
  libs/template/docs/concepts.md
Labels: </> Template, 📖 Docs API

#626 feat(cdk): improve rendering error handling
  apps/demos/src/app/features/template/rx-for/error-handling/error-handling-child.component.ts
  apps/demos/src/app/features/template/rx-for/error-handling/error-handling-parent.component.ts
  apps/demos/src/app/features/template/rx-for/error-handling/rx-for-error-handling.module.ts
  apps/demos/src/app/features/template/rx-for/rx-for.menu.ts
  apps/demos/src/app/features/template/rx-for/rx-for.module.ts
  apps/demos/src/app/features/template/rx-let/exception-handling/error-handling-child.component.ts
  apps/demos/src/app/features/template/rx-let/exception-handling/error-handling-parent.component.ts
  apps/demos/src/app/features/template/rx-let/exception-handling/rx-let-exception-handling.module.ts
  apps/demos/src/app/features/template/rx-let/rx-let.menu.ts
  apps/demos/src/app/features/template/rx-let/rx-let.routes.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/for/rx-for.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/let/rx-let.directive.ts
  libs/cdk/spec/template-management/list-manager.spec.ts
  libs/cdk/spec/template-management/template-manager.spec.ts
  libs/cdk/src/lib/template-management/list-template-manager.ts
  libs/cdk/src/lib/template-management/list-view-handler.ts
  libs/cdk/src/lib/template-management/model.ts
  libs/cdk/src/lib/template-management/render-error.ts
  libs/cdk/src/lib/template-management/template-manager.ts
  libs/cdk/src/lib/template-management/utils.ts
  libs/cdk/src/lib/utils/onStrategy.ts
  libs/cdk/src/lib/utils/rxMaterialize.ts
  libs/cdk/src/test-setup.ts
  libs/template/src/lib/let/let.directive.ts
Labels: </> Template, 🛂 Test, 🛠️ CDK

#582 feat(cdk): add accumulateObservable creation function
  libs/cdk/spec/state/accumulateObservables.spec.ts
  libs/cdk/src/index.ts
  libs/cdk/src/lib/state/accumulateObservables.ts
  libs/cdk/src/lib/state/index.ts
  libs/cdk/src/lib/state/model.ts
  libs/cdk/src/lib/utils/model.ts
Labels: 🛂 Test, 🛠️ CDK

#667 feat(zone-configuration): add ts docs to zone configuration
  libs/cdk/src/lib/zone-configuration/model/configurations.types.ts
Labels: 🛠️ CDK

#687 Documentation fix
  libs/template/docs/api/let-directive.md
Labels: </> Template, 📖 Docs API
