Repository rx-angular/rx-angular, pull requests merged in 2021-05, with the labels that each got.

#570 Reduce deoms app
  apps/demos/src/app/app-component/app.menu.ts
  apps/demos/src/app/features/concepts/fundamentals.menu.ts
  apps/demos/src/app/features/experiments/alphas-compare/alpha-0-toggle/alpha-0-toggle.component.html
  apps/demos/src/app/features/experiments/alphas-compare/alpha-0-toggle/alpha-0-toggle.component.ts
  apps/demos/src/app/features/experiments/alphas-compare/alpha-0-toggle/alpha-0-toggle.module.ts
  apps/demos/src/app/features/experiments/alphas-compare/alpha-1-toggle/alpha-1-toggle.component.html
  apps/demos/src/app/features/experiments/alphas-compare/alpha-1-toggle/alpha-1-toggle.component.ts
  apps/demos/src/app/features/experiments/alphas-compare/alpha-1-toggle/alpha-1-toggle.module.ts
  apps/demos/src/app/features/experiments/alphas-compare/alphas-compare.component.html
  apps/demos/src/app/features/experiments/alphas-compare/alphas-compare.component.ts
  apps/demos/src/app/features/experiments/alphas-compare/alphas-compare.menu.ts
  apps/demos/src/app/features/experiments/alphas-compare/alphas-compare.module.ts
  apps/demos/src/app/features/experiments/alphas-compare/alphas-compare.routes.ts
  apps/demos/src/app/features/performance/alphas-compare/alpha-0-toggle/alpha-0-toggle.component.html
  apps/demos/src/app/features/performance/alphas-compare/alpha-0-toggle/alpha-0-toggle.component.ts
  apps/demos/src/app/features/performance/alphas-compare/alpha-0-toggle/alpha-0-toggle.module.ts
  apps/demos/src/app/features/performance/alphas-compare/alpha-1-toggle/alpha-1-toggle.component.html
  apps/demos/src/app/features/performance/alphas-compare/alpha-1-toggle/alpha-1-toggle.component.ts
  apps/demos/src/app/features/performance/alphas-compare/alpha-1-toggle/alpha-1-toggle.module.ts
  apps/demos/src/app/features/performance/alphas-compare/alphas-compare.component.html
  apps/demos/src/app/features/performance/alphas-compare/alphas-compare.component.ts
  apps/demos/src/app/features/performance/alphas-compare/alphas-compare.menu.ts
  apps/demos/src/app/features/performance/alphas-compare/alphas-compare.module.ts
  apps/demos/src/app/features/performance/alphas-compare/alphas-compare.routes.ts
  apps/demos/src/app/features/performance/nested-component-structure/nested-component-structure.component.ts
  apps/demos/src/app/features/performance/nested-component-structure/nested-component-structure.module.ts
  apps/demos/src/app/features/performance/nested-component-structure/nested-component-structure.routes.ts
  apps/demos/src/app/features/performance/nested-ng-if/nested-ng-if.component.ts
  apps/demos/src/app/features/performance/nested-ng-if/nested-ng-if.module.ts
  apps/demos/src/app/features/performance/nested-ng-if/nested-ng-if.routes.ts
  apps/demos/src/app/features/performance/performance-shell.menu.ts
  apps/demos/src/app/features/performance/performance-shell.module.ts
  apps/demos/src/app/features/performance/sibling-component-structure/sibling-component-structure.component.ts
  apps/demos/src/app/features/performance/sibling-component-structure/sibling-component-structure.module.ts
  apps/demos/src/app/features/performance/sibling-component-structure/sibling-component-structure.routes.ts
  docs/images/rx-angular_logo.png
Labels: 📚 Docs Web

#689 fix(zone-configuration): add images to IDE doc, extend code docs
  libs/cdk/docs/zone-configuration/how-to-setup-zone-flags.md
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_ide-documentation-flag.PNG
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_ide-documentation-zoneConfig-api.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_ide-documentation-zoneConfig-global-flags-timers.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_ide-documentation-zoneConfig-global-flags.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_ide-documentation-zoneConfig-global.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_ide-documentation-zoneConfig.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_log-zone-flags-runtime_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_log-zone-flags_michael-hladky.png
  libs/cdk/spec/zone-config/zone-config.spec.ts
  libs/cdk/src/lib/zone-configuration/model/configurations.types.ts
  libs/cdk/src/lib/zone-configuration/model/zone-cfg.types.ts
  libs/cdk/src/lib/zone-configuration/zone-cfg.ts
Labels: 📖 Docs API, 🛂 Test, 🛠️ CDK

#575 Extend PushPipe interface
  apps/demos/src/app/features/template/pipes/push-poc/push-poc.component.ts
  libs/cdk/src/lib/model.ts
  libs/template/src/lib/push/push.pipe.ts
Labels: </> Template, 🛠️ CDK

#568 Update push pipe markdown docs
  libs/template/docs/push.md
Labels: </> Template, 📖 Docs API

#688 feat(cdk): decouple `zone-less` into its own self-contained library
  .github/workflows/build-and-test.yml
  .gitignore
  angular.json
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/animationFrameTick.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/promiseTick.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.component.ts
  apps/demos/src/app/features/template/unpatch/comparison/runOutsideZone.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/unpatch/unpatch-events.directive.ts
  jest.config.js
  libs/cdk/src/index.ts
  libs/cdk/src/lib/render-strategies/native-strategies.ts
  libs/cdk/src/lib/state/accumulateObservables.ts
  libs/cdk/src/lib/template-management/utils.ts
  libs/cdk/src/lib/zone-less/index.ts
  libs/cdk/src/lib/zone-less/rxjs/observable/index.ts
  libs/cdk/src/lib/zone-less/rxjs/operators/index.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/index.ts
  libs/cdk/zone-less/jest.config.js
  libs/cdk/zone-less/ng-package.json
  libs/cdk/zone-less/package.json
  libs/cdk/zone-less/src/browser/browser.ts
  libs/cdk/zone-less/src/browser/index.ts
  libs/cdk/zone-less/src/index.ts
  libs/cdk/zone-less/src/rxjs/observable/interval.ts
  libs/cdk/zone-less/src/rxjs/observable/timer.ts
  libs/cdk/zone-less/src/rxjs/observable/utils.ts
  libs/cdk/zone-less/src/rxjs/operators/fromEvent.ts
  libs/cdk/zone-less/src/rxjs/scheduler/Action.ts
  libs/cdk/zone-less/src/rxjs/scheduler/Scheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/animation-frame/AnimationFrameAction.ts
  libs/cdk/zone-less/src/rxjs/scheduler/animation-frame/AnimationFrameScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/animation-frame/animationFrame.ts
  libs/cdk/zone-less/src/rxjs/scheduler/asap/AsapAction.ts
  libs/cdk/zone-less/src/rxjs/scheduler/asap/AsapScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/asap/asap.ts
  libs/cdk/zone-less/src/rxjs/scheduler/async/AsyncAction.ts
  libs/cdk/zone-less/src/rxjs/scheduler/async/AsyncScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/async/async.ts
  libs/cdk/zone-less/src/rxjs/scheduler/queue/QueueAction.ts
  libs/cdk/zone-less/src/rxjs/scheduler/queue/QueueScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/queue/queue.ts
  libs/cdk/zone-less/src/rxjs/scheduler/types.ts
  libs/cdk/zone-less/src/test-setup.ts
  libs/cdk/zone-less/src/utils.ts
  libs/cdk/zone-less/tsconfig.json
  libs/cdk/zone-less/tsconfig.lib.json
  libs/cdk/zone-less/tsconfig.spec.json
  libs/cdk/zone-less/tslint.json
  nx.json
  tsconfig.base.json
Labels: 🛠️ CDK

#428 Do not insert updated item(s) if the source object is invalid or empty
  libs/state/spec/transformation-helpers/array/update.spec.ts
  libs/state/src/lib/transformation-helpers/array/update.ts
Labels: { } State

#693 fix(template): import from another lib
  libs/template/src/lib/push/push.pipe.ts
Labels: </> Template

#694 refactor(transformation-helper): simplify update helper
  libs/state/src/lib/transformation-helpers/array/update.ts
Labels: { } State

#392 add upsert transformation helper
  libs/state/spec/transformation-helpers/array/upsert.spec.ts
  libs/state/src/lib/index.ts
  libs/state/src/lib/transformation-helpers/array/index.ts
  libs/state/src/lib/transformation-helpers/array/upsert.ts
Labels: { } State, 🛂 Test

#701 Added browser support to sub-projects
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Labels: </> Template, { } State, 🛠️ CDK

#700 perf(cdk): use existing `rxjs` schedulers
  apps/demos/src/app/rx-angular-pocs/template/directives/unpatch/unpatch-events.directive.ts
  libs/cdk/zone-less/src/browser/browser.ts
  libs/cdk/zone-less/src/index.ts
  libs/cdk/zone-less/src/rxjs/observable/interval.ts
  libs/cdk/zone-less/src/rxjs/observable/timer.ts
  libs/cdk/zone-less/src/rxjs/scheduler/Scheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/animation-frame/AnimationFrameScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/animation-frame/animationFrame.ts
  libs/cdk/zone-less/src/rxjs/scheduler/asap/AsapScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/asap/asap.ts
  libs/cdk/zone-less/src/rxjs/scheduler/async/AsyncScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/async/async.ts
  libs/cdk/zone-less/src/rxjs/scheduler/create-scheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/queue/QueueAction.ts
  libs/cdk/zone-less/src/rxjs/scheduler/queue/QueueScheduler.ts
  libs/cdk/zone-less/src/rxjs/scheduler/queue/queue.ts
Labels: 🛠️ CDK

#715 docs: fix render-strategies links
  libs/template/README.md
  libs/template/docs/push.md
Labels: </> Template, 📖 Docs API

#707 feat(cdk): swap arguments in the `getZoneUnPatchedApi` to benefit from autocomplete
  .prettierignore
  apps/demos/src/app/features/template/unpatch/comparison/runOutsideZone.directive.ts
  libs/cdk/jest.config.js
  libs/cdk/src/test-setup.ts
  libs/cdk/zone-less/jest.config.js
  libs/cdk/zone-less/src/browser/browser.ts
  libs/cdk/zone-less/src/get-zone-unpatched-api/get-zone-unpatched-api.spec.ts
  libs/cdk/zone-less/src/get-zone-unpatched-api/index.ts
  libs/cdk/zone-less/src/index.ts
  libs/cdk/zone-less/src/rxjs/operators/fromEvent.ts
  libs/cdk/zone-less/src/test-setup.ts
  libs/template/jest.config.js
  libs/template/spec/core/utils/get-zone-unpatched-api.spec.ts
  libs/template/src/lib/core/utils/unpatched-resolved-promise.ts
  libs/template/src/lib/core/utils/zone-checks.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/intervalTick.experimental.ts
  libs/template/src/lib/experimental/render-strategies/rxjs/scheduling/timeoutTick.experimental.ts
  libs/template/src/lib/experimental/unpatch/events/unpatch-events.experimental.directive.ts
  libs/template/src/lib/experimental/viewport-prio/viewport-prio.experimental.directive.ts
  libs/template/src/lib/render-strategies/rxjs/scheduling/animationFrameTick.ts
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#684 Fixes #634 - Support template typing for PushPipe
  libs/template/src/lib/push/push.pipe.ts
Labels: </> Template

#725 feat(cdk): move scheduler into `internals/scheduler`
  angular.json
  jest.config.js
  libs/cdk/internals/scheduler/.eslintrc.json
  libs/cdk/internals/scheduler/jest.config.js
  libs/cdk/internals/scheduler/ng-package.json
  libs/cdk/internals/scheduler/package.json
  libs/cdk/internals/scheduler/src/index.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/cdk/internals/scheduler/src/lib/schedulerFeatureFlags.ts
  libs/cdk/internals/scheduler/src/lib/schedulerMinHeap.ts
  libs/cdk/internals/scheduler/src/lib/schedulerPriorities.ts
  libs/cdk/internals/scheduler/src/test-setup.ts
  libs/cdk/internals/scheduler/tsconfig.json
  libs/cdk/internals/scheduler/tsconfig.lib.json
  libs/cdk/internals/scheduler/tsconfig.spec.json
  libs/cdk/ng-package.json
  libs/cdk/src/lib/render-strategies/concurrent-strategies.ts
  libs/cdk/src/lib/render-strategies/scheduler/index.ts
  libs/cdk/src/lib/render-strategies/scheduler/schedulerHostConfig.ts
  libs/cdk/src/lib/render-strategies/scheduler/schedulerPriorities.ts
  libs/cdk/zone-less/ng-package.json
  nx.json
  tsconfig.base.json
  yarn.lock
Labels: 🛠️ CDK

#728 feat(cdk): decouple zone-configurations into its own library
  angular.json
  apps/demos/src/app/rx-angular-pocs/template/directives/unpatch/unpatch-events.directive.ts
  apps/demos/src/zone-flags.ts
  jest.config.js
  libs/cdk/docs/zone-configuration/readme.md
  libs/cdk/src/index.ts
  libs/cdk/src/lib/zone-configuration/index.ts
  libs/cdk/src/lib/zone-configuration/model/zone-cfg.types.ts
  libs/cdk/zone-configurations/.eslintrc.json
  libs/cdk/zone-configurations/README.md
  libs/cdk/zone-configurations/docs/how-to-debug-zone-flags.md
  libs/cdk/zone-configurations/docs/how-to-setup-zone-flags.md
  libs/cdk/zone-configurations/docs/images/angular-zone-change-detection_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_disable-timers-false_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_event-listener-patched-flames_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_event-listener-unpatched-flames_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_ide-documentation-flag.PNG
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_ide-documentation-zoneConfig-api.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_ide-documentation-zoneConfig-global-flags-timers.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_ide-documentation-zoneConfig-global-flags.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_ide-documentation-zoneConfig-global.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_ide-documentation-zoneConfig.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_import-order_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_log-zone-flags-runtime_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_log-zone-flags_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_performance-comparison_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_setTimeout-patched-flames_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_setTimeout-patched_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_setTimeout-unpatched-flames_michael-hladky.png.png
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_webpack-import-hoisting_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zonejs_timing-marks_detail_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular-zonejs_timing-marks_overview_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular_zone-flags_disable-timers-true_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/angular_zone-flags_rx-angular_log.png
  libs/cdk/zone-configurations/docs/images/angular_zone-flags_setTimeout-unpatched_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/dev-tools_performance-tab_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/dev-tools_performance_search-method-names_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/dev-tools_sources_michael-hladky.png
  libs/cdk/zone-configurations/docs/images/dev-tools_timeline-event-initiators_michael-hladky.png
  libs/cdk/zone-configurations/docs/zone-flags.md
  libs/cdk/zone-configurations/jest.config.js
  libs/cdk/zone-configurations/ng-package.json
  libs/cdk/zone-configurations/package.json
  libs/cdk/zone-configurations/src/index.ts
  libs/cdk/zone-configurations/src/lib/convenience-methods.ts
  libs/cdk/zone-configurations/src/lib/event-names.ts
  libs/cdk/zone-configurations/src/lib/model/configurations.types.ts
  libs/cdk/zone-configurations/src/lib/model/zone-config.types.ts
  libs/cdk/zone-configurations/src/lib/model/zone.api.extensions.ts
  libs/cdk/zone-configurations/src/lib/model/zone.configurations.api.ts
  libs/cdk/zone-configurations/src/lib/zone-config.spec.ts
  libs/cdk/zone-configurations/src/lib/zone-config.ts
  libs/cdk/zone-configurations/src/test-setup.ts
  libs/cdk/zone-configurations/tsconfig.json
  libs/cdk/zone-configurations/tsconfig.lib.json
  libs/cdk/zone-configurations/tsconfig.spec.json
  libs/cdk/zone-less/tslint.json
  libs/template/ng-package.json
  nx.json
  tsconfig.base.json
Labels: </> Template, 📖 Docs API, 🛠️ CDK

#418 state(transformation-helpers): slice & extract helpers
  docs/web/state/api/transformation-helpers.md
  libs/state/docs/api/transformation-helpers/array/extract.md
  libs/state/docs/api/transformation-helpers/edge-cases-overview.md
  libs/state/docs/api/transformation-helpers/object/slice.md
  libs/state/spec/transformation-helpers/array/extract.spec.ts
  libs/state/spec/transformation-helpers/object/slice.spec.ts
  libs/state/src/lib/index.ts
  libs/state/src/lib/transformation-helpers/array/extract.ts
  libs/state/src/lib/transformation-helpers/array/index.ts
  libs/state/src/lib/transformation-helpers/object/index.ts
  libs/state/src/lib/transformation-helpers/object/slice.ts
Labels: { } State, 📖 Docs API, 📚 Docs Web, 🛂 Test

#732 feat(template): decouple `let` into a library
  .eslintignore
  angular.json
  apps/demos/src/app/app-component/app-control-panel/app-control-panel.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling.module.ts
  apps/demos/src/app/features/experiments/state/rx-state.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/integrations/dynamic-counter/shared/shared.module.ts
  apps/demos/src/app/features/integrations/pokemon-pagination/pokemon-pagination.module.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/rx-let-vs-push.module.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/render-callback/render-callback.module.ts
  apps/demos/src/app/features/template/rx-let/basic/rx-let-basic.module.ts
  apps/demos/src/app/features/template/rx-let/exception-handling/rx-let-exception-handling.module.ts
  apps/demos/src/app/features/template/rx-let/lazy-loading-components/lazy-loading-components.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.module.ts
  apps/demos/src/app/features/template/rx-let/preloading-images/preloading-images.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.module.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.module.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/value.module.ts
  apps/demos/src/app/shared/debug-helper/work/work.module.ts
  apps/demos/src/app/shared/ghost-elements/ghost-elements.module.ts
  apps/demos/src/app/shared/strategy-icon/strategy-icon.module.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive.module.ts
  apps/demos/src/app/shared/zone-patched-icon/zone-patched-icon.module.ts
  apps/ssr/src/app/app.module.ts
  apps/tour-of-heroes-ngxs/src/app/app.module.ts
  apps/tour-of-heroes/src/app/app.module.ts
  jest.config.js
  libs/cdk/ng-package.json
  libs/template/let/.eslintrc.json
  libs/template/let/jest.config.js
  libs/template/let/ng-package.json
  libs/template/let/package.json
  libs/template/let/src/index.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/let.module.ts
  libs/template/let/src/lib/tests/fixtures.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
  libs/template/let/src/test-setup.ts
  libs/template/let/tsconfig.json
  libs/template/let/tsconfig.lib.json
  libs/template/let/tsconfig.spec.json
  libs/template/spec/render-strategies/render-strategies/global.strategy.spec.ts
  libs/template/src/index.ts
  libs/template/src/lib/experimental/viewport-prio/viewport-prio.experimental.directive.ts
  libs/template/src/lib/let/let.module.ts
  nx.json
  tsconfig.base.json
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#731 chore(ci): run Jest migrations while upgrading to Nx 12
  apps/demos/jest.config.js
  apps/demos/src/test-setup.ts
  apps/docs/jest.config.js
  apps/ssr/jest.config.js
  apps/ssr/src/test-setup.ts
  apps/tour-of-heroes-ngxs/jest.config.js
  apps/tour-of-heroes-ngxs/src/test-setup.ts
  apps/tour-of-heroes/jest.config.js
  apps/tour-of-heroes/src/test-setup.ts
  apps/vanilla-case-studies/jest.config.js
  apps/vanilla-case-studies/src/test-setup.ts
  libs/cdk/coalescing/jest.config.js
  libs/cdk/coalescing/src/test-setup.ts
  libs/cdk/internals/scheduler/jest.config.js
  libs/cdk/jest.config.js
  libs/cdk/zone-configurations/jest.config.js
  libs/state/jest.config.js
  libs/state/src/test-setup.ts
  libs/template/jest.config.js
  libs/template/src/test-setup.ts
  libs/test-helpers/jest.config.js
  migrations.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🛠️ CDK

#738 docs: allow zooming images
  docs/index.html
Labels: 📚 Docs Web

#730 feat(cdk): move `coercing` into lib
  angular.json
  apps/demos/src/app/rx-angular-pocs/template/directives/for/rx-for.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if/rx-if.directive.ts
  jest.config.js
  libs/cdk/coalescing/docs/Readme.md
  libs/cdk/coercing/.eslintrc.json
  libs/cdk/coercing/README.md
  libs/cdk/coercing/docs/Readme.md
  libs/cdk/coercing/jest.config.js
  libs/cdk/coercing/ng-package.json
  libs/cdk/coercing/package.json
  libs/cdk/coercing/src/index.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservable.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservableWith.ts
  libs/cdk/coercing/src/lib/coerceObservable.ts
  libs/cdk/coercing/src/lib/coerceObservableWith.ts
  libs/cdk/coercing/src/test-setup.ts
  libs/cdk/coercing/tsconfig.json
  libs/cdk/coercing/tsconfig.lib.json
  libs/cdk/coercing/tsconfig.lib.prod.json
  libs/cdk/coercing/tsconfig.spec.json
  libs/cdk/docs/render-strategies/README.md
  libs/cdk/docs/render-strategies/strategies.md
  libs/cdk/ng-package.json
  libs/cdk/src/lib/utils/hotFlatten.ts
  libs/cdk/src/lib/utils/index.ts
  libs/cdk/zone-configurations/README.md
  libs/state/docs/concepts-and-best-practices.md
  libs/state/docs/usage.md
  libs/template/docs/reactive-context.md
  nx.json
  tsconfig.base.json
Labels: </> Template, { } State, 📖 Docs API, 🛠️ CDK

#745 chore(ci): upgrade to Angular 12
  .eslintignore
  .eslintrc.json
  .github/workflows/build-and-test.yml
  angular.json
  apps/demos/src/environments/environment.ts
  apps/demos/src/polyfills.ts
  apps/docs/src/environments/environment.ts
  apps/docs/src/polyfills.ts
  apps/ssr/.eslintrc.json
  apps/ssr/server.ts
  apps/ssr/src/environments/environment.ts
  apps/ssr/src/polyfills.ts
  apps/tour-of-heroes-ngxs/src/environments/environment.ts
  apps/tour-of-heroes-ngxs/src/polyfills.ts
  apps/tour-of-heroes/src/environments/environment.ts
  apps/tour-of-heroes/src/polyfills.ts
  apps/tour-of-heroes/src/zone.ts
  apps/vanilla-case-studies/src/environments/environment.ts
  apps/vanilla-case-studies/src/polyfills.ts
  libs/cdk/coalescing/.eslintrc.json
  libs/cdk/coercing/.eslintrc.json
  libs/cdk/coercing/jest.config.js
  libs/cdk/internals/scheduler/.eslintrc.json
  libs/cdk/zone-configurations/.eslintrc.json
  libs/cdk/zone-configurations/src/lib/zone-config.ts
  libs/state/spec/cdk/accumulation-observable.spec.ts
  libs/state/spec/component-patterns/rx-state.component.spec.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rxjs/operators/select.spec.ts
  libs/state/spec/rxjs/operators/stateful.spec.ts
  libs/state/spec/transformation-helpers/array/extract.spec.ts
  libs/state/spec/transformation-helpers/array/insert.spec.ts
  libs/state/spec/transformation-helpers/array/remove.spec.ts
  libs/state/spec/transformation-helpers/array/toDictionary.spec.ts
  libs/state/spec/transformation-helpers/array/update.spec.ts
  libs/state/spec/transformation-helpers/array/upsert.spec.ts
  libs/state/spec/transformation-helpers/object/deleteProp.spec.ts
  libs/state/spec/transformation-helpers/object/dictionaryToArray.spec.ts
  libs/state/spec/transformation-helpers/object/patch.spec.ts
  libs/state/spec/transformation-helpers/object/setProp.spec.ts
  libs/state/spec/transformation-helpers/object/slice.spec.ts
  libs/state/spec/transformation-helpers/object/toggle.spec.ts
  libs/template/let/.eslintrc.json
  libs/template/schematics/src/commands/ng-add/index.spec.ts
  migrations.json
  nx.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🛂 Test, 🛠️ CDK

#753 feat(template): decouple `push` into a lib
  angular.json
  jest.config.js
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/push/.eslintrc.json
  libs/template/push/jest.config.js
  libs/template/push/ng-package.json
  libs/template/push/package.json
  libs/template/push/src/index.ts
  libs/template/push/src/lib/push.module.ts
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/fixtures.ts
  libs/template/push/src/lib/tests/push.pipe.service.spec.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/template/push/src/test-setup.ts
  libs/template/push/tsconfig.json
  libs/template/push/tsconfig.lib.json
  libs/template/push/tsconfig.lib.prod.json
  libs/template/push/tsconfig.spec.json
  libs/template/src/index.ts
  libs/template/src/lib/push/push.module.ts
  nx.json
  tsconfig.base.json
Labels: </> Template

#741 fix(cdk): skip logging error in ssr build
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
Labels: 🛠️ CDK

#791 docs(cdk): fix how-to-debug-zone-flags.md images
  libs/cdk/zone-configurations/docs/how-to-debug-zone-flags.md
  libs/cdk/zone-configurations/docs/images/angular-zone-flags_setTimeout-unpatched-flames_michael-hladky.png
Labels: 📖 Docs API, 🛠️ CDK
