Repository rx-angular/rx-angular, pull requests merged in 2021-12, with the labels that each got.

#1084 docs: cdk/render-strategies
  libs/cdk/render-strategies/docs/README.md
  libs/cdk/render-strategies/docs/basic-strategies.md
  libs/cdk/render-strategies/docs/concurrent-strategies.md
  libs/cdk/render-strategies/docs/strategies.md
Labels: 📖 Docs API, 🛠️ CDK

#1113 docs: add update docs for libs
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Labels: </> Template, { } State, 🛠️ CDK

#1120 (Docs) render strategies examples
  libs/cdk/render-strategies/docs/README.md
  libs/cdk/render-strategies/docs/basic-strategies.md
  libs/cdk/render-strategies/docs/concurrent-strategies.md
Labels: 📖 Docs API, 🛠️ CDK

#1125 docs: remove onProirity as it falls back to normal
  libs/cdk/render-strategies/docs/README.md
  libs/cdk/render-strategies/docs/concurrent-strategies.md
  libs/cdk/render-strategies/docs/strategies.md
  libs/cdk/render-strategies/src/lib/concurrent-strategies.ts
  libs/cdk/render-strategies/src/lib/model.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
Labels: </> Template, 📖 Docs API, 🛠️ CDK

#1083 feat(docs): add readme file to rxStrategyProvider
  libs/cdk/render-strategies/docs/strategy-provider.md
Labels: 📖 Docs API, 🛠️ CDK

#1132 fix: state migrations
  apps/demos/src/app/app-component/app.component.ts
  libs/state/package.json
  libs/state/schematics/collection.json
  libs/state/schematics/src/commands/ng-add/index.spec.ts
  libs/state/schematics/src/commands/ng-add/index.ts
  libs/state/schematics/src/commands/ng-add/schema.json
  libs/state/schematics/src/migrations/update-1.4.7/__snapshots__/index.spec.ts.snap
  libs/state/schematics/src/migrations/update-1.4.7/index.spec.ts
  libs/state/schematics/src/migrations/update-1.4.7/index.ts
  libs/state/schematics/src/utils/insert.ts
  libs/state/schematics/src/utils/renaming-rule.ts
  libs/state/tsconfig.schematics.json
Labels: { } State

#1133 fix(state): make migrations keep rxstate
  libs/state/schematics/src/migrations/update-1.4.7/__snapshots__/index.spec.ts.snap
  libs/state/schematics/src/migrations/update-1.4.7/index.spec.ts
  libs/state/schematics/src/utils/renaming-rule.ts
Labels: { } State

#1114 docs(state): add state testing docs
  libs/state/README.md
  libs/state/docs/testing.md
Labels: { } State, 📖 Docs API
