Repository rx-angular/rx-angular, pull requests merged in 2021-03, with the labels that each got.

#586 fix bug in first template init
  libs/cdk/src/lib/template-management/template-manager.ts
Labels: 🐞 Bug, 🛠️ CDK

#591 Add assertion to flags
  libs/cdk/src/lib/zone-configuration/zone-cfg.ts
Labels: 🛠️ CDK

#598 Update zone cfg api
  apps/demos/src/app/rx-angular-pocs/cdk/zone-configuration/zone-config.ts
  libs/cdk/spec/zone-config/zone-config.spec.ts
  libs/cdk/src/lib/zone-configuration/model/configurations.types.ts
  libs/cdk/src/lib/zone-configuration/zone-cfg.ts
  libs/cdk/src/test-setup.ts
Labels: 🛂 Test, 🛠️ CDK

#600 fix(cdk): zone-config tests
  libs/cdk/spec/zone-config/zone-config.spec.ts
  libs/cdk/src/lib/zone-configuration/zone-cfg.ts
Labels: 🛂 Test, 🛠️ CDK

#588 fix(list-manager): fix list manager return value
  libs/cdk/src/lib/template-management/list-template-manager.ts
Labels: 🐞 Bug, 🛠️ CDK

#603 feat(cdk): infer `getZoneUnPatchedApi` return type and fix types for existing functions
  libs/cdk/src/lib/zone-less/browser/browser.ts
  libs/cdk/src/lib/zone-less/utils.ts
Labels: 🛠️ CDK

#597 chore(build): fix target names and configs
  angular.json
  libs/cdk/ng-package.json
  libs/cdk/rollup.config.js
  libs/cdk/src/public_api.ts
  libs/cdk/tsconfig.json
  libs/cdk/tsconfig.lib.json
  libs/cdk/tsconfig.lib.prod.json
  libs/template/ng-package.json
  libs/template/rollup.config.js
  libs/template/src/public_api.ts
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/template/tsconfig.lib.prod.json
  yarn.lock
Labels: </> Template, 🛠️ CDK

#602 Extend event names
  apps/demos/src/app/rx-angular-pocs/template/directives/unpatch/unpatch-events.directive.ts
  apps/demos/src/zone-flags.ts
  libs/cdk/src/lib/zone-configuration/event-names.ts
  libs/template/src/lib/experimental/unpatch/events/unpatch-events.experimental.directive.ts
Labels: </> Template, 🔬 Experimental, 🛠️ CDK

#611 chore(ci): do not install dependencies if they are cached
  .github/workflows/build-and-test.yml
Labels: ⚙️ Chore

#593 chore(ci): remove --head + add --frozen-install arguments
  .github/workflows/build-and-test.yml
  yarn.lock
Labels: ⚙️ Chore

#599 Fix template and cdk universal build
  apps/demos/src/app/rx-angular-pocs/cdk/utils/zone-agnostic/zone-checks.ts
  libs/cdk/src/lib/render-strategies/scheduler/scheduler.ts
  libs/cdk/src/lib/render-strategies/scheduler/schedulerHostConfig.ts
  libs/cdk/src/lib/zone-configuration/zone-cfg.ts
  libs/template/jest.config.js
  libs/template/spec/core/utils/get-global-this.spec.ts
  libs/template/spec/core/utils/get-zone-unpatched-api.spec.ts
  libs/template/spec/render-strategies/rxjs/scheduling/promiseTick.spec.ts
  libs/template/spec/render-strategies/strategy.spec.ts
  libs/template/src/lib/core/utils/get-global-this.ts
  libs/template/src/lib/core/utils/index.ts
  libs/template/src/lib/core/utils/zone-checks.ts
  libs/template/src/lib/experimental/core/utils/view-engine-checks.experimental.ts
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#609 [wip]bring back old typings + refactor flag setting code
  libs/cdk/spec/zone-config/zone-config.spec.ts
  libs/cdk/src/lib/zone-configuration/convenience-methods.ts
  libs/cdk/src/lib/zone-configuration/event-names.ts
  libs/cdk/src/lib/zone-configuration/index.ts
  libs/cdk/src/lib/zone-configuration/model/configurations.types.ts
  libs/cdk/src/lib/zone-configuration/model/zone-cfg.types.ts
  libs/cdk/src/lib/zone-configuration/zone-cfg.ts
Labels: 🛂 Test, 🛠️ CDK

#616 Fix typo
  libs/template/docs/performance-issues.md
Labels: </> Template, 📖 Docs API

#627 feat(zone-config): update zone-config docs and linking
  libs/cdk/docs/zone-configuration/how-to-debug-zone-flags.md
  libs/cdk/docs/zone-configuration/how-to-setup-zone-flags.md
  libs/cdk/docs/zone-configuration/images/angular-zone-change-detection_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_disable-timers-false_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_event-listener-patched-flames_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_event-listener-unpatched-flames_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_import-order_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_log-zone-flags_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_performance-comparison_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_setTimeout-patched-flames_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_setTimeout-patched_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_setTimeout-unpatched-flames_michael-hladky.png.png
  libs/cdk/docs/zone-configuration/images/angular-zone-flags_webpack-import-hoisting_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zonejs_timing-marks_detail_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular-zonejs_timing-marks_overview_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular_zone-flags_disable-timers-true_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/angular_zone-flags_rx-angular_log.png
  libs/cdk/docs/zone-configuration/images/angular_zone-flags_setTimeout-unpatched_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/dev-tools_performance-tab_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/dev-tools_performance_search-method-names_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/dev-tools_sources_michael-hladky.png
  libs/cdk/docs/zone-configuration/images/dev-tools_timeline-event-initiators_michael-hladky.png
  libs/cdk/docs/zone-configuration/zone-flags.md
Labels: 📖 Docs API, 🛠️ CDK

#615 Fix broken image url
  libs/template/docs/performance-issues.md
Labels: </> Template, 📖 Docs API
