Repository rx-angular/rx-angular, pull requests merged in 2021-02, with the labels that each got.

#482 feat(cdk): Init package
  angular.json
  libs/cdk/README.md
  libs/cdk/jest.config.js
  libs/cdk/ng-package.json
  libs/cdk/package.json
  libs/cdk/src/index.ts
  libs/cdk/src/lib/cdk.module.ts
  libs/cdk/src/test-setup.ts
  libs/cdk/tsconfig.json
  libs/cdk/tsconfig.lib.json
  libs/cdk/tsconfig.lib.prod.json
  libs/cdk/tsconfig.spec.json
  libs/cdk/tslint.json
  libs/template/test/package.json
  nx.json
  tsconfig.base.json
Labels: </> Template

#458 Migrate Nx workspace to v11.1.2
  .vscode/extensions.json
  angular.json
  apps/demos/jest.config.js
  apps/demos/src/app/app-component/app-component.module.ts
  apps/demos/tsconfig.editor.json
  apps/demos/tsconfig.json
  apps/docs/jest.config.js
  apps/docs/src/app/app.module.ts
  apps/tour-of-heroes-ngxs/jest.config.js
  apps/tour-of-heroes-ngxs/src/app/app-routing.module.ts
  apps/tour-of-heroes/jest.config.js
  apps/tour-of-heroes/src/app/app-routing.module.ts
  apps/vanilla-case-studies/jest.config.js
  apps/vanilla-case-studies/tsconfig.editor.json
  apps/vanilla-case-studies/tsconfig.json
  decorate-angular-cli.js
  jest.config.js
  jest.preset.js
  libs/cdk/jest.config.js
  libs/state/jest.config.js
  libs/template/jest.config.js
  libs/template/test/package.json
  libs/test-helpers/jest.config.js
  migrations.json
  nx.json
  package.json
  tools/generators/.gitkeep
  yarn.lock
Labels: ⚙️ Chore

#492 feat(cdk): add zone-config
  apps/demos/src/zone-flags.ts
  libs/cdk/src/index.ts
  libs/cdk/src/lib/zone-config/event-names.ts
  libs/cdk/src/lib/zone-config/index.ts
  libs/cdk/src/lib/zone-config/model/configurations.types.ts
  libs/cdk/src/lib/zone-config/model/zone.configurations.api.ts
  libs/cdk/src/lib/zone-config/zone-config.ts
Labels: 🛠️ CDK

#512 Cdk 5 zone config tests
  .github/labeler.yml
  10.0.6
  angular.json
  jest.config.js
  libs/cdk/README.md
  libs/cdk/jest.config.js
  libs/cdk/spec/zone-config/zone-config.spec.ts
  libs/cdk/src/lib/cdk.module.ts
  libs/cdk/src/lib/zone-config/index.ts
  libs/cdk/src/lib/zone-config/model/configurations.types.ts
  libs/cdk/src/lib/zone-config/model/zone.api.extensions.ts
  libs/cdk/src/lib/zone-config/model/zone.configurations.api.ts
  libs/cdk/src/lib/zone-config/zone-config.ts
  libs/state/jest.config.js
Labels: { } State, ⚙️ Chore, 🛂 Test, 🛠️ CDK

#520 upgrade dependencies
  angular.json
  apps/demos/src/app/rx-angular-pocs/cdk/utils/zone-agnostic/browser/postTask.ts
  libs/cdk/spec/zone-config/zone-config.spec.ts
  libs/state/spec/transformation-helpers/array/toDictionary.spec.ts
  libs/state/src/lib/core/utils/guards.ts
  libs/template/schematics/commands/ng-add/index.spec.ts
  migrations.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🛂 Test, 🛠️ CDK

#490 fear(cdk): add zone-agnostic files
  libs/cdk/src/index.ts
  libs/cdk/src/lib/zone-less/browser/browser.ts
  libs/cdk/src/lib/zone-less/browser/index.ts
  libs/cdk/src/lib/zone-less/index.ts
  libs/cdk/src/lib/zone-less/rxjs/observable/index.ts
  libs/cdk/src/lib/zone-less/rxjs/observable/interval.ts
  libs/cdk/src/lib/zone-less/rxjs/observable/timer.ts
  libs/cdk/src/lib/zone-less/rxjs/observable/utils.ts
  libs/cdk/src/lib/zone-less/rxjs/operators/fromEvent.ts
  libs/cdk/src/lib/zone-less/rxjs/operators/index.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/Action.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/Scheduler.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/animation-frame/AnimationFrameAction.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/animation-frame/AnimationFrameScheduler.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/animation-frame/animationFrame.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/asap/AsapAction.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/asap/AsapScheduler.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/asap/asap.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/async/AsyncAction.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/async/AsyncScheduler.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/async/async.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/index.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/queue/QueueAction.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/queue/QueueScheduler.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/queue/queue.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/types.ts
  libs/cdk/src/lib/zone-less/utils.ts
  libs/template/src/lib/core/model.ts
Labels: </> Template, 🛠️ CDK

#532 feat(template): add ng-add, setup sub packages
  angular.json
  apps/demos/src/app/app.module.ts
  libs/template/package.json
  libs/template/schematics/collection.json
  libs/template/schematics/package.json
  libs/template/schematics/src/commands/ng-add/index.spec.ts
  libs/template/schematics/src/commands/ng-add/index.ts
  libs/template/schematics/src/commands/ng-add/schema.json
  libs/template/schematics/src/commands/ng-add/schema.ts
  libs/template/schematics/src/common/consts.ts
  libs/template/schematics/src/common/index.ts
  libs/template/schematics/src/common/utils/change.ts
  libs/template/schematics/src/common/utils/find-module.ts
  libs/template/schematics/src/common/utils/projects.ts
  libs/template/schematics/src/common/utils/workspace.ts
  libs/template/schematics/src/index.ts
  libs/template/schematics/src/public_api.ts
  libs/template/tsconfig.schematics.json
  yarn.lock
Labels: </> Template

#533 fix(template): reduce public API
  apps/demos/src/app/app-component/app-control-panel/app-control-panel.component.ts
  apps/demos/src/app/app-config.service.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/scheduling.component.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/animationFrameTick.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/index.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/interfaces.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/priority-tick-map.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/promiseTick.ts
  apps/demos/src/app/features/concepts/zone-patched-apis/zone-patched-apis.component.ts
  apps/demos/src/app/features/template/rx-let/preloading-images/preloading-images.component.ts
  apps/demos/src/app/features/template/unpatch/comparison/runOutsideZone.directive.ts
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.component.ts
  apps/demos/src/app/rx-angular-pocs/template/pipes/push/push.pipe.ts
  apps/demos/src/app/shared/debug-helper/value-provider/model.ts
  apps/demos/src/app/shared/debug-helper/value-provider/scheduling-helper.ts
  apps/demos/src/app/shared/debug-helper/value-provider/utils.ts
  apps/tour-of-heroes/src/app/app.component.ts
  apps/tour-of-heroes/src/app/config.service.ts
  libs/template/spec/core/utils/view-engine-checks.spec.ts
  libs/template/spec/fixtures/emissions.ts
  libs/template/spec/render-strategies/render-strategies/global.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/local.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/native.strategy.spec.ts
  libs/template/spec/render-strategies/render-strategies/noop.strategy.spec.ts
  libs/template/spec/render-strategies/rxjs/coalesceWith.spec.ts
  libs/template/spec/render-strategies/static/static-coalesce.spec.ts
  libs/template/src/index.ts
  libs/template/tsconfig.schematics.json
  yarn.lock
Labels: </> Template, 🛂 Test, 🛠️ CDK

#538 fix(cdk): make build work
  apps/demos/src/app/rx-angular-pocs/template/directives/unpatch/unpatch-events.directive.ts
  libs/cdk/src/index.ts
  libs/cdk/src/lib/render-strategies/default-strategies.ts
  libs/cdk/src/lib/zone-configuration/event-names.ts
  libs/cdk/src/lib/zone-configuration/index.ts
  libs/cdk/src/lib/zone-configuration/model/configurations.types.ts
  libs/cdk/src/lib/zone-configuration/model/zone.api.extensions.ts
  libs/cdk/src/lib/zone-configuration/model/zone.configurations.api.ts
  libs/cdk/src/lib/zone-configuration/zone-cfg.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/Scheduler.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/animation-frame/AnimationFrameAction.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/asap/AsapAction.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/async/AsyncAction.ts
  libs/cdk/src/lib/zone-less/rxjs/scheduler/async/AsyncScheduler.ts
Labels: 🛠️ CDK

#545 feat(template): add cdk dependency
  angular.json
  libs/template/package.json
  libs/template/tsconfig.lib.prod.json
Labels: </> Template

#547 release(template): adopt schematics
  libs/template/schematics/src/commands/ng-add/index.ts
  libs/template/schematics/src/common/consts.ts
Labels: </> Template

#548 feat(cdk): harmonize API
  apps/demos/src/app/app-component/app.component.html
  apps/demos/src/app/app-shell/app-shell-component/app-shell.component.html
  apps/demos/src/app/app.module.ts
  apps/demos/src/app/features/concepts/coalescing/strategies/strategy-map.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.module.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/scheduling.component.ts
  apps/demos/src/app/features/experiments/structural-directives/if-visible-poc/if-visible.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-poc.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-poc.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-children.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-content.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query.component.ts
  apps/demos/src/app/features/template/rx-context/rx-context.component.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/rx-for-normal.directive.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-http-example.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-subject-example.component.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.component.ts
  apps/demos/src/app/rx-angular-pocs/cdk/decorators/stateful.ts
  apps/demos/src/app/rx-angular-pocs/cdk/render-aware/render-aware.ts
  apps/demos/src/app/rx-angular-pocs/template/components/context/rx-context.component.ts
  apps/demos/src/app/rx-angular-pocs/template/components/context/rx-context.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/for/rx-for.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if-visible/if-visible.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if/rx-if.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/let/rx-let.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/switch/rx-switch-case.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/pipes/push/push.pipe.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select/strategy-select.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-custom.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-pixel-img.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-strategy.component.ts
  apps/tour-of-heroes/src/app/app.component.ts
  apps/tour-of-heroes/src/app/config.service.ts
  libs/cdk/src/index.ts
  libs/cdk/src/lib/cdk-config.ts
  libs/cdk/src/lib/model.ts
  libs/cdk/src/lib/render-strategies/concurrent-strategies.ts
  libs/cdk/src/lib/render-strategies/index.ts
  libs/cdk/src/lib/render-strategies/model.ts
  libs/cdk/src/lib/render-strategies/native-strategies.ts
  libs/cdk/src/lib/render-strategies/strategy-provider.service.ts
  libs/cdk/src/lib/render-strategies/tokens/custom-strategies-token.ts
  libs/cdk/src/lib/render-strategies/tokens/default-primary-strategy-token.ts
  libs/cdk/src/lib/render-strategies/tokens/index.ts
  libs/cdk/src/lib/template-management/index.ts
  libs/cdk/src/lib/template-management/list-template-manager.ts
  libs/cdk/src/lib/template-management/list-view-handler.ts
  libs/cdk/src/lib/template-management/model.ts
  libs/cdk/src/lib/template-management/template-manager.ts
  libs/cdk/src/lib/template-management/utils.ts
  libs/cdk/src/lib/utils/hotFlatten.ts
  libs/cdk/src/lib/utils/index.ts
  libs/cdk/src/lib/utils/onStrategy.ts
  libs/cdk/src/lib/utils/strategy-handling.ts
  libs/cdk/src/lib/utils/templateNotifier.ts
Labels: 🛠️ CDK

#546 cdk based directives
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.component.ts
  apps/demos/src/app/features/template/pipes/pipe-poc/pipe-poc.module.ts
  apps/demos/src/app/features/template/pipes/push-poc/push-poc.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-http-example.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-subject-example.component.ts
  libs/cdk/src/index.ts
  libs/cdk/src/lib/render-strategies/concurrent-strategies.ts
  libs/cdk/src/lib/render-strategies/default-strategies.ts
  libs/cdk/src/lib/utils/coalesceWith.ts
  libs/cdk/src/lib/utils/coalescingManager.ts
  libs/template/spec/fixtures/fixtures.ts
  libs/template/spec/let/let.directive.complete.spec.ts
  libs/template/spec/let/let.directive.error.spec.ts
  libs/template/spec/let/let.directive.next.spec.ts
  libs/template/spec/let/let.directive.rendered.spec.ts
  libs/template/spec/let/let.directive.strategy.spec.ts
  libs/template/spec/let/let.directive.template-binding.all.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-complete.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-error.spec.ts
  libs/template/spec/let/let.directive.template-binding.no-suspense.spec.ts
  libs/template/spec/push/push.pipe.service.spec.ts
  libs/template/src/lib/experimental/viewport-prio/viewport-prio.experimental.directive.ts
  libs/template/src/lib/let/let.directive.ts
  libs/template/src/lib/push/push.pipe.ts
  nx.json
  tslint.json
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#553 fix: ng-packagr builds
  angular.json
  libs/cdk/ng-package.json
  libs/cdk/package.json
  libs/cdk/rollup.config.js
  libs/cdk/src/lib/render-strategies/concurrent-strategies.ts
  libs/cdk/src/lib/render-strategies/scheduler/index.ts
  libs/cdk/src/lib/render-strategies/scheduler/scheduler.ts
  libs/cdk/src/lib/render-strategies/scheduler/schedulerFeatureFlags.ts
  libs/cdk/src/lib/render-strategies/scheduler/schedulerHostConfig.ts
  libs/cdk/src/lib/render-strategies/scheduler/schedulerMinHeap.ts
  libs/cdk/src/lib/render-strategies/scheduler/schedulerPriorities.ts
  libs/cdk/src/lib/template-management/utils.ts
  libs/cdk/src/public_api.ts
  libs/cdk/src/test-setup.ts
  libs/cdk/tsconfig.lib.prod.json
  libs/template/ng-package.json
  libs/template/rollup.config.js
  libs/template/spec/core/utils/template-manager_creator.spec.ts
  libs/template/spec/let/let.directive.error.spec.ts
  libs/template/spec/push/push.pipe.service.spec.ts
  libs/template/spec/push/push.pipe.spec.ts
  libs/template/src/lib/experimental/viewport-prio/viewport-prio.experimental.directive.ts
  libs/template/src/lib/let/let.directive.ts
  libs/template/src/lib/push/push.pipe.ts
  libs/template/src/public_api.ts
  libs/template/src/test-setup.ts
  libs/template/tsconfig.lib.json
  libs/template/tsconfig.lib.prod.json
  package.json
  tsconfig.base.json
  yarn.lock
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#562 docs(template): Remove TemplateModule from README.md
  libs/template/README.md
Labels: </> Template

#561 feat(cdk): improve template manager view-context
  apps/demos/src/app/app.module.ts
  apps/demos/src/app/features/template/rx-let/basic/rx-let-basic.component.ts
  apps/demos/src/app/features/template/rx-let/basic/rx-let-basic.module.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-http-example.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-subject-example.component.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.module.ts
  libs/cdk/src/lib/model.ts
  libs/cdk/src/lib/template-management/template-manager.ts
  libs/cdk/src/lib/utils/notification-transforms.ts
  libs/cdk/src/lib/utils/rxMaterialize.ts
  libs/cdk/src/lib/utils/templateNotifier.ts
  libs/template/spec/let/let.directive.template-binding.no-complete.spec.ts
Labels: </> Template, 🛂 Test, 🛠️ CDK

#565 Update dependencies
  libs/cdk/package.json
  libs/template/package.json
Labels: </> Template, 🛠️ CDK
