Repository rx-angular/rx-angular, pull requests merged in 2021-11, with the labels that each got.

#1059 refactor: cleanup template refactoring to sub packages
  libs/cdk/render-strategies/docs/README.md
  libs/cdk/render-strategies/docs/strategies.md
  libs/cdk/render-strategies/spec/onStrategy.spec.ts
  libs/cdk/state/spec/accumulateObservables.spec.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
Labels: 🛂 Test, 📖 Docs API, 🛠️ CDK

#1047 Improve Testbed configurations
  apps/demos/src/app/rx-angular-pocs/state/rx-effects/effects.service.spec.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/state/spec/component-patterns/rx-state.component.spec.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
  libs/template/push/src/lib/tests/push.pipe.service.spec.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.spec.ts
Labels: </> Template, { } State, 🛂 Test, 🛠️ CDK

#1035 perf: move getUnpatchedApi into sun-package and avoid zone-less package
  apps/demos/src/app/features/concepts/scheduling/scheduling/utils/animationFrameTick.ts
  apps/demos/src/app/features/tutorials/basics/1-setup/setup.start.component.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if/rx-if.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/let/rx-let.directive.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservableWith.ts
  libs/cdk/internals/core/ng-package.json
  libs/cdk/internals/core/src/index.ts
  libs/cdk/internals/core/src/lib/get-zone-unpatched-api.spec.ts
  libs/cdk/internals/core/src/lib/get-zone-unpatched-api.ts
  libs/cdk/internals/core/src/lib/timeout.ts
  libs/cdk/internals/core/src/test-setup.ts
  libs/cdk/render-strategies/src/lib/native-strategies.ts
  libs/cdk/state/src/lib/accumulateObservables.ts
  libs/cdk/template/src/lib/utils.ts
  libs/cdk/zone-less/src/browser/browser.ts
  libs/cdk/zone-less/src/index.ts
  libs/cdk/zone-less/src/rxjs/operators/fromEvent.ts
  libs/state/src/lib/cdk/side-effect-observable.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/push/src/lib/push.pipe.ts
  libs/template/tsconfig.lib.json
  libs/template/unpatch/src/lib/unpatch.directive.ts
  tsconfig.base.json
Labels: </> Template, { } State, 🔬 Experimental, 🛠️ CDK

#887 feat(template): introduce viewport-prio and rx-for as experimental
  apps/demos/src/app/features/template/viewport-prio/basic-example/basic-example.component.ts
  libs/template/experimental/for/ng-package.json
  libs/template/experimental/for/src/index.ts
  libs/template/experimental/for/src/lib/for.directive.ts
  libs/template/experimental/for/src/lib/for.module.ts
  libs/template/experimental/viewport-prio/ng-package.json
  libs/template/experimental/viewport-prio/src/index.ts
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.directive.ts
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.module.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/src/index.ts
  tsconfig.base.json
Labels: </> Template, 🔬 Experimental

#1072 refactor(cdk): deprecate RX_ANGULAR_CONFIG
  apps/demos/src/app/app.module.ts
  libs/cdk/coercing/spec/coerceObservableWith.spec.ts
  libs/cdk/render-strategies/src/index.ts
  libs/cdk/render-strategies/src/lib/config.ts
  libs/cdk/render-strategies/src/lib/strategy-provider.service.ts
  libs/cdk/state/spec/accumulateObservables.spec.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/state/spec/cdk/accumulation-observable.spec.ts
  libs/state/spec/cdk/side-effect-observable.spec.ts
Labels: { } State, 🛂 Test, 🛠️ CDK

#1085 docs(state): fix typo - duplicate readonly
  libs/state/docs/api/rx-state.md
Labels: { } State, 📖 Docs API

#1091 docs(state): fix typo and minor grammatical errors
  libs/state/docs/snippets/logic-comparison--increment-a-value.md
Labels: { } State, 📖 Docs API

#1092 docs(state): fix typos in migrating to RxState
  libs/state/docs/snippets/behavior-subject-vs-rx-state.md
Labels: { } State, 📖 Docs API

#1093 docs(state): fix typo 'tho' on passing observables page
  libs/state/docs/snippets/passing-observables-directly.md
Labels: { } State, 📖 Docs API

#1095 docs(state): add Marmicode Tasting Session resource
  libs/state/README.md
Labels: { } State

#1100 Clean-commands
  libs/cdk/jest.config.js
  libs/cdk/project.json
  libs/state/jest.config.js
  libs/state/project.json
  libs/template/jest.config.js
  libs/template/project.json
  package.json
Labels: </> Template, { } State, 🛠️ CDK
