Repository rx-angular/rx-angular, pull requests merged in 2022-12, with the labels that each got.

#1485 Fix small typo on local template page
  apps/docs/docs/template/concepts/local-templates.md
Labels: 📚 Docs Web

#1488 fix(docs): fix broken tutorial link in state page and readme
  libs/state/README.md
Labels: { } State

#1478 fix(cdk): make sure tasks queued by NgZone are also executed
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
Labels: 🛠️ CDK

#1477 chore: fix template build warnings
  libs/cdk/package.json
  libs/state/package.json
  libs/template/experimental/viewport-prio/ng-package.json
  libs/template/for/ng-package.json
  libs/template/if/ng-package.json
  libs/template/let/ng-package.json
  libs/template/package.json
  libs/template/push/ng-package.json
  libs/template/unpatch/ng-package.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🔬 Experimental, 🛠️ CDK

#1475 refactor(template): harmonize RxIf triggers
  apps/docs/docs/template/api/rx-if-directive.md
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
Labels: 📚 Docs Web, </> Template

#1484 chore(eslint): switch to `@typescript-eslint/utils`
  libs/eslint-plugin/src/lib/configs/index.ts
  libs/eslint-plugin/src/lib/configs/recommended.ts
  libs/eslint-plugin/src/lib/configs/zoneless.ts
  libs/eslint-plugin/src/lib/rules/index.ts
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.ts
  libs/template/unpatch/src/lib/README.md
  package.json
  yarn.lock
Labels: </> Template

#1473 refactor(template): harmonize LetDirective triggers
  apps/docs/docs/template/api/let-directive.md
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
Labels: 📚 Docs Web, </> Template

#1487 fix(docs): add wrapper to home table to fix overflow
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
Labels: 📚 Docs Web
