Repository rx-angular/rx-angular, pull requests merged in 2022-10, with the labels that each got.

#1422 docs(state): couple of docs fixes in `@rx-angular/state` package
  libs/state/README.md
  libs/state/actions/docs/Readme.md
  libs/state/docs/concepts-and-best-practices.md
  libs/state/docs/snippets/deriving-simple-state.md
  libs/state/effects/docs/Readme.md
Labels: { } State, 📖 Docs API

#1425 chore(docs): fix build
  .github/workflows/build-and-test.yml
  apps/docs/project.json
Labels: hacktoberfest

#1420 Update template docs
  apps/demos/src/app/features/tutorials/basics/1-setup/setup-container.component.ts
  apps/demos/src/app/features/tutorials/basics/1-setup/setup.start.component.ts
  apps/docs/docs/cdk/render-strategies/_docs.md
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/unpatch-directive.md
  apps/docs/docs/template/concepts/_category_.json
  apps/docs/docs/template/concepts/concepts.md
  apps/docs/docs/template/concepts/local-templates.md
  apps/docs/docs/template/concepts/local-variables.md
  apps/docs/docs/template/concepts/performance-issues.md
  apps/docs/docs/template/concepts/reactive-context.md
  apps/docs/docs/template/performance-issues/_category_.json
  apps/docs/docs/template/performance-issues/change-detection-over-pipes.md
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  apps/docs/docs/template/performance-issues/ngzone-optimizations.md
  apps/docs/docs/template/performance-issues/rendering-issues-in-angular.md
  libs/template/README.md
  libs/template/experimental/viewport-prio/viewport-prio.md
  libs/template/for/src/lib/README.md
  libs/template/for/src/lib/for.directive.ts
  libs/template/let/src/lib/README.md
  libs/template/let/src/lib/let.directive.ts
  libs/template/perf/images/Profile-click-zone-no-zone.json
  libs/template/perf/images/animFrameVsPosttask.PNG
  libs/template/perf/images/browser-cycle-layout-and-render.PNG
  libs/template/perf/images/scheduling-all.PNG
  libs/template/perf/images/scheduling-animFrame.PNG
  libs/template/perf/images/scheduling-idleCallback.PNG
  libs/template/perf/images/scheduling-micro.PNG
  libs/template/perf/images/scheduling-ptBackground.PNG
  libs/template/perf/images/scheduling-ptUserBlocking.PNG
  libs/template/perf/images/scheduling-ptUserVisible.PNG
  libs/template/perf/images/scheduling-sync.PNG
  libs/template/perf/images/setTimeout.PNG
  libs/template/perf/images/zone-unpatch/native-click.PNG
  libs/template/perf/images/zone-unpatch/outSideZone-click.PNG
  libs/template/perf/images/zone-unpatch/unpatch-click.PNG
  libs/template/unpatch/src/lib/README.md
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.spec.ts
Labels: 📚 Docs Web, </> Template, 🔬 Experimental, 🛂 Test, 📖 Docs API
