Repository rx-angular/rx-angular, pull requests merged in 2022-11, with the labels that each got.

#1451 chore: format files
  .github/labeler.yml
  .nxignore
  apps/demos/src/app/features/tutorials/basics/1-setup/setup-container.component.ts
  apps/demos/src/app/features/tutorials/basics/1-setup/setup.start.component.ts
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/concepts/local-variables.md
  apps/docs/docs/template/concepts/reactive-context.md
  apps/docs/docs/template/performance-issues/change-detection-over-pipes.md
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  apps/docs/docs/template/performance-issues/ngzone-optimizations.md
  apps/docs/docusaurus.config.js
  libs/template/README.md
  libs/template/for/src/lib/README.md
  libs/template/let/src/lib/README.md
  libs/template/unpatch/src/lib/README.md
Labels: </> Template, ⚙️ Chore

#1452 chore: adjust ts docs
  libs/state/selections/src/lib/operators/distinctUntilSomeChanged.ts
  libs/state/selections/src/lib/operators/stateful.ts
Labels: { } State

#1450 feat(template): handle initial suspense
  apps/demos/src/app/rx-angular-pocs/template/directives/if-visible/if-visible.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/let/rx-let.directive.ts
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/concepts/reactive-context.md
  apps/docs/static/img/template/observable-reactive-context.png
  libs/cdk/notifications/src/lib/create-template-notifier.spec.ts
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/cdk/template/spec/fixtures.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/cdk/template/src/lib/list-view-handler.ts
  libs/cdk/template/src/lib/model.ts
  libs/cdk/template/src/lib/template-manager.ts
  libs/template/experimental/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
Labels: 📚 Docs Web, </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#1459 fix(template): rxFor: only subscribe once to value input
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
Labels: 🐞 Bug, </> Template

#1447 chore(docs): fix broken documentation links
  apps/docs/docs/cdk/coercing/_docs.md
  apps/docs/docs/cdk/zone-configurations/how-to-setup-zone-flags.md
  apps/docs/docs/cdk/zone-less/_docs.md
  apps/docs/docs/state/effects/_docs.md
  apps/docs/docs/template/performance-issues/rendering-issues-in-angular.md
  libs/cdk/coalescing/README.md
  libs/cdk/render-strategies/README.md
  libs/cdk/template/README.md
  libs/cdk/zone-configurations/README.md
  libs/cdk/zone-less/README.md
  libs/state/README.md
  libs/state/effects/README.md
Labels: 📚 Docs Web, </> Template, { } State, 🛠️ CDK

#1461 docs: Resolve copy mistake of word "frequeltly"
  libs/cdk/coalescing/README.md
Labels: 🛠️ CDK

#1463 docs: resolve spelling correction of zone-less doc
  apps/docs/docs/cdk/zone-less/_docs.md
  libs/cdk/zone-less/README.md
Labels: 📚 Docs Web, 🛠️ CDK

#1400 feat(template): Make rxIf stable
  apps/demos/src/app/app-shell/app-shell.module.ts
  apps/demos/src/app/features/experiments/structural-directives/if-visible-poc/if-visible.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-if/rx-if-basic.component.ts
  apps/demos/src/app/features/template/rx-if/rx-if-demo.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/docs/docs/template/api/experimental/rx-if-directive.md
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-if-directive.md
  apps/docs/docs/template/api/unpatch-directive.md
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  libs/cdk/template/src/lib/template-manager.ts
  libs/cdk/template/src/lib/utils.ts
  libs/template/README.md
  libs/template/experimental/if/ng-package.json
  libs/template/experimental/if/src/lib/if.directive.ts
  libs/template/if/ng-package.json
  libs/template/if/src/index.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/if.module.ts
  libs/template/if/src/lib/model/index.ts
  libs/template/if/src/lib/model/template-names.ts
  libs/template/if/src/lib/model/view-context.ts
  libs/template/if/src/lib/tests/fixtures.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.strategy.spec.ts
  libs/template/schematics/migration.json
  libs/template/schematics/src/migrations/introduce-rxif-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxif-stable/index.spec.ts
  libs/template/schematics/src/migrations/introduce-rxif-stable/index.ts
  tsconfig.base.json
Labels: 📚 Docs Web, </> Template, 🔬 Experimental, 🛠️ CDK

#1464 docs(template): make empty string displayed correctly
  apps/docs/docs/template/api/let-directive.md
Labels: 📚 Docs Web
