Repository rx-angular/rx-angular, pull requests merged in 2022-08, with the labels that each got.

#1384 docs(template): add note about immutability changes for push & rxLet
  libs/template/README.md
Labels: </> Template

#1381 fix typo: method scoped variable using `this`
  libs/state/docs/snippets/loading-state-and-data-fetching.md
Labels: { } State, 📖 Docs API

#1388 docs: update version compat tables
  README.md
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Labels: </> Template, { } State, 🛠️ CDK

#1073 fix(state): exclude `undefined` from return type of `stateful`
  libs/state/selections/src/lib/interfaces/index.ts
  libs/state/selections/src/lib/interfaces/non-undefined.ts
  libs/state/selections/src/lib/operators/stateful.ts
Labels: { } State, 🛠️ CDK

#1393 chore: turn-off no-input-rename eslint rule
  libs/template/.eslintrc.json
  libs/template/experimental/for/src/lib/for.directive.ts
  libs/template/experimental/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
Labels: </> Template, 🔬 Experimental

#1371 refactor(cdk): simplify `onStrategy` error handling
  libs/cdk/render-strategies/src/lib/onStrategy.ts
Labels: 🛠️ CDK

#1389 feat(cdk): deprecate global StrategyCredentials and replace with native
  libs/cdk/render-strategies/docs/basic-strategies.md
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/render-strategies/src/lib/native-strategies.ts
Labels: 📖 Docs API, 🛠️ CDK

#1369 feat(template): make rxFor stable
  apps/demos/src/app/features/template/rx-context/rx-context.module.ts
  apps/demos/src/app/features/template/rx-for/error-handling/rx-for-error-handling.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.component.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/nested-lists.module.ts
  apps/demos/src/app/features/template/rx-for/route-change/route-change.module.ts
  apps/ssr-e2e/src/integration/app.spec.ts
  apps/ssr/src/app/app.component.ts
  apps/ssr/src/app/app.module.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/cdk/template/src/lib/list-view-handler.ts
  libs/template/experimental/for/ng-package.json
  libs/template/for/ng-package.json
  libs/template/for/src/index.ts
  libs/template/for/src/lib/for-view-context.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/for.module.ts
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/for/src/lib/tests/for.directive.strategy.spec.ts
  libs/template/schematics/migration.json
  libs/template/schematics/src/migrations/introduce-rxfor-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxfor-stable/index.spec.ts
  libs/template/schematics/src/migrations/introduce-rxfor-stable/index.ts
  libs/template/src/index.ts
  tsconfig.base.json
Labels: </> Template, 🔬 Experimental, 🛠️ CDK

#1374 feat(template): implement rxLet template triggers
  apps/demos/src/app/features/template/rx-let/rx-let.menu.ts
  apps/demos/src/app/features/template/rx-let/rx-let.routes.ts
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.component.html
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.component.ts
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.module.ts
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.routes.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.component.ts
  libs/cdk/notifications/src/lib/create-template-notifier.spec.ts
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/cdk/template/spec/fixtures.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/cdk/template/src/lib/model.ts
  libs/cdk/template/src/lib/template-manager.ts
  libs/template/experimental/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/push/src/lib/push.pipe.ts
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#1368 perf(template): PushPipe - don't over-render sync initial values
  apps/demos/src/app/features/template/pipes/pipes.module.ts
  apps/demos/src/app/features/template/pipes/push-poc/push-poc.routes.ts
  apps/demos/src/app/features/template/push/push-basic-example/push-basic-example.routes.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.component.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.module.ts
  apps/demos/src/app/features/template/push/push-basic/push-basic.routes.ts
  apps/demos/src/app/features/template/push/push-vs-async/push-vs-async.component.ts
  apps/demos/src/app/features/template/push/push-vs-async/push-vs-async.module.ts
  apps/demos/src/app/features/template/push/push-vs-async/push-vs-async.routes.ts
  apps/demos/src/app/features/template/push/push.menu.ts
  apps/demos/src/app/features/template/push/push.module.ts
  apps/demos/src/app/features/template/template-shell.menu.ts
  apps/demos/src/app/features/template/template-shell.module.ts
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Labels: </> Template

#1356 Harmonize inputs
  apps/demos/src/app/features/template/rx-let/error-handling/error-handling.component.ts
  apps/demos/src/app/features/template/rx-let/http-errors/http-errors.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-http-example.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-subject-example.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack-async.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack-rx-let.component.ts
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.component.html
  apps/demos/src/app/rx-angular-pocs/template/components/context/rx-context.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if-visible/if-visible.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/let/rx-let.directive.ts
  libs/cdk/template/spec/fixtures.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/cdk/template/src/lib/model.ts
  libs/cdk/template/src/lib/template-manager.ts
  libs/template/experimental/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#1398 chore: setup codecov
  .codecov.yml
  .github/workflows/build-and-test.yml
  libs/cdk/jest.config.js
  libs/cdk/project.json
  libs/state/jest.config.js
  libs/state/project.json
  libs/template/jest.config.js
  libs/template/project.json
  package.json
Labels: </> Template, { } State, 🛠️ CDK
