Repository rx-angular/rx-angular, pull requests merged in 2022-09, with the labels that each got.

#941 perf(cdk): adjust frame budget computation
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/cdk/render-strategies/src/lib/concurrent-strategies.ts
Labels: 🛠️ CDK

#1404 fix: use rxjs version 6 compatible imports
  libs/cdk/coercing/src/lib/coerceObservable.ts
  libs/cdk/template/src/lib/template-manager.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/push/src/lib/push.pipe.ts
Labels: </> Template, 🛠️ CDK

#1396 Add overloads to select for more concise state projections
  libs/state/docs/api/rx-state.md
  libs/state/selections/docs/operators/select.md
  libs/state/selections/spec/select.spec.ts
  libs/state/selections/src/index.ts
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Labels: { } State, 🛂 Test, 📖 Docs API

#1394 New ESLint plugin
  .commitlintrc.json
  README.md
  libs/eslint-plugin/.babelrc
  libs/eslint-plugin/.eslintrc.json
  libs/eslint-plugin/README.md
  libs/eslint-plugin/docs/rules/no-explicit-change-detection-apis.md
  libs/eslint-plugin/docs/rules/no-rxstate-imperative-in-reactive.md
  libs/eslint-plugin/docs/rules/no-rxstate-subscriptions-outside-constructor.md
  libs/eslint-plugin/docs/rules/no-zone-critical-browser-apis.md
  libs/eslint-plugin/docs/rules/no-zone-critical-lodash-apis.md
  libs/eslint-plugin/docs/rules/no-zone-critical-rxjs-creation-apis.md
  libs/eslint-plugin/docs/rules/no-zone-critical-rxjs-operators.md
  libs/eslint-plugin/docs/rules/no-zone-critical-rxjs-schedulers.md
  libs/eslint-plugin/docs/rules/no-zone-run-apis.md
  libs/eslint-plugin/docs/rules/prefer-no-layout-sensitive-apis.md
  libs/eslint-plugin/docs/rules/prefer-no-lodash-clone-deep.md
  libs/eslint-plugin/docs/rules/prefer-no-lodash-is-equal.md
  libs/eslint-plugin/jest.config.js
  libs/eslint-plugin/package.json
  libs/eslint-plugin/project.json
  libs/eslint-plugin/src/index.ts
  libs/eslint-plugin/src/lib/configs/index.ts
  libs/eslint-plugin/src/lib/configs/recommended.ts
  libs/eslint-plugin/src/lib/configs/zoneless.ts
  libs/eslint-plugin/src/lib/rules/index.ts
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.ts
  libs/eslint-plugin/src/lib/utils/docs.ts
  libs/eslint-plugin/src/lib/utils/guards.ts
  libs/eslint-plugin/src/lib/utils/regex.ts
  libs/eslint-plugin/src/lib/utils/selectors.ts
  libs/eslint-plugin/tsconfig.json
  libs/eslint-plugin/tsconfig.lib.json
  libs/eslint-plugin/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: 📖 Docs API

#1112 feat: PoC RxSignals
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  libs/state/README.md
  libs/state/actions/README.md
  libs/state/actions/docs/Readme.md
  libs/state/actions/ng-package.json
  libs/state/actions/spec/actions.factory.spec.ts
  libs/state/actions/spec/transforms.spec.ts
  libs/state/actions/src/index.ts
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/proxy.ts
  libs/state/actions/src/lib/transforms.ts
  libs/state/actions/src/lib/types.ts
  tsconfig.base.json
Labels: { } State, 🛂 Test, 📖 Docs API, 🛠️ CDK

#1407 fix: turn off updating deps in dist package.json
  libs/cdk/project.json
  libs/state/project.json
  libs/template/project.json
Labels: </> Template, { } State, 🛠️ CDK

#1409 docs(cdk): fix example typos
  libs/cdk/render-strategies/docs/README.md
Labels: 📖 Docs API, 🛠️ CDK

#1415 Update Readme.md
  libs/state/actions/docs/Readme.md
Labels: { } State, 📖 Docs API

#1414 Fix link to RenderStrategy
  libs/template/docs/push.md
Labels: </> Template, 📖 Docs API

#1288 docs(template): polish up + add RxFor API doc
  libs/cdk/render-strategies/src/lib/strategy-provider.service.ts
  libs/template/README.md
  libs/template/docs/api/overview.md
  libs/template/docs/api/push-pipe.md
  libs/template/docs/api/unpatch-directive.md
  libs/template/docs/experimental/experimental-render-strategies.md
  libs/template/docs/experimental/rx-for-directive.md
  libs/template/docs/experimental/rx-if-directive.md
  libs/template/docs/experimental/viewport-prio.md
  libs/template/for/src/lib/for.directive.ts
Labels: </> Template, 🔬 Experimental, 📖 Docs API, 🛠️ CDK

#1418 Fix rxLet context API docs
  libs/template/docs/api/let-directive.md
Labels: </> Template, 📖 Docs API

#1412 chore: update ng-morph dependency
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🛠️ CDK
