Repository rx-angular/rx-angular, pull requests merged in 2022-06, with the labels that each got.

#1349 perf(state): improve connect checks performance
  libs/state/src/lib/rx-state.service.ts
Labels: { } State

#1305 refactor(cdk): fix rxjs schedulers & deprecated rxjs/zone-less
  libs/cdk/zone-less/rxjs/spec/scheduler/animationFrameScheduler.spec.ts
  libs/cdk/zone-less/rxjs/spec/scheduler/asapScheduler.spec.ts
  libs/cdk/zone-less/rxjs/spec/scheduler/queueScheduler.spec.ts
  libs/cdk/zone-less/rxjs/src/internals/Immediate.ts
  libs/cdk/zone-less/rxjs/src/internals/animationFrameProvider.ts
  libs/cdk/zone-less/rxjs/src/internals/date-time-stamp.provider.ts
  libs/cdk/zone-less/rxjs/src/internals/immediateProvider.ts
  libs/cdk/zone-less/rxjs/src/internals/intervalProvider.ts
  libs/cdk/zone-less/rxjs/src/observable/fromEvent.ts
  libs/cdk/zone-less/rxjs/src/observable/interval.ts
  libs/cdk/zone-less/rxjs/src/observable/timer.ts
  libs/cdk/zone-less/rxjs/src/scheduler/Action.ts
  libs/cdk/zone-less/rxjs/src/scheduler/Scheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/AnimationFrameAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/AnimationFrameScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/animationFrame.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/AsapAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/AsapScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/asap.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/AsyncAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/AsyncScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/async.ts
  libs/cdk/zone-less/rxjs/src/scheduler/create-scheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/QueueAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/QueueScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/queue.ts
  libs/cdk/zone-less/rxjs/src/scheduler/scheduler.ts
  libs/cdk/zone-less/rxjs/src/testing/test-scheduler.ts
  tsconfig.base.json
Labels: 🛂 Test, 📖 Docs API, 🛠️ CDK

#1367 chore: remove dependabot config
  .github/dependabot.yml
Labels: ⚙️ Chore
