Repository rx-angular/rx-angular, pull requests merged in 2022-02, with the labels that each got.

#1182 chore: update semver config
  libs/cdk/project.json
  libs/state/project.json
  libs/template/project.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🛠️ CDK

#1186 feat: enable Ivy with partial compilation mode
  libs/cdk/tsconfig.lib.json
  libs/state/tsconfig.lib.json
  libs/template/tsconfig.lib.json
Labels: </> Template, { } State, 🛠️ CDK

#1191 fix: drop `@nrwl/tao` deep import
  libs/cdk/schematics/migration.json
  libs/cdk/schematics/src/migrations/update-1.0.0-beta.1/__snapshots__/index.spec.ts.snap
  libs/cdk/schematics/src/migrations/update-1.0.0-beta.1/index.spec.ts
  libs/cdk/schematics/src/migrations/update-1.0.0-beta.1/index.ts
  libs/cdk/schematics/src/utils/format-files.ts
  libs/cdk/schematics/src/utils/renaming-rule.ts
  libs/state/schematics/src/migrations/update-1.4.7/__snapshots__/index.spec.ts.snap
  libs/state/schematics/src/utils/format-files.ts
  libs/state/schematics/src/utils/renaming-rule.ts
  libs/template/schematics/src/migrations/update-1.0.0-beta.30/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/utils/format-files.ts
  libs/template/schematics/src/utils/renaming-rule.ts
Labels: </> Template, { } State, 🛠️ CDK

#1193 docs(cdk): add package migration description to changelog
  libs/cdk/CHANGELOG.md
Labels: 🛠️ CDK

#1194 docs(cdk): fix migration description in changelog
  libs/cdk/CHANGELOG.md
Labels: 🛠️ CDK

#1209 fix(cdk): use refCount in shareReplay
  libs/cdk/internals/core/src/lib/accumulateObservables.ts
Labels: 🛠️ CDK

#1176 added a link to the readme
  libs/state/README.md
Labels: { } State

#1169 docs(template): fix for "Render Strategies" link
  libs/template/README.md
Labels: </> Template

#1197 fix(template): don't override primary strategy
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
Labels: </> Template
