Repository rx-angular/rx-angular, pull requests merged in 2022-03, with the labels that each got.

#569 Add rx effects
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-content.component.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/rx-for-minimal.directive.ts
  apps/demos/src/app/features/template/rx-let/lazy-loading-components/lazy-loading-components-promise.component.ts
  apps/demos/src/app/features/template/rx-let/lazy-loading-components/lazy-loading-components.component.ts
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack.component.ts
  apps/demos/src/app/features/template/strategies/pixel-priority/pixel-priority.component.ts
  apps/demos/src/app/features/tutorials/basics/1-setup/Readme.md
  apps/demos/src/app/features/tutorials/basics/5-side-effects/Readme.md
  apps/demos/src/app/rx-angular-pocs/index.ts
  apps/demos/src/app/rx-angular-pocs/state/index.ts
  apps/demos/src/app/rx-angular-pocs/state/rx-effects/index.ts
  apps/demos/src/app/rx-angular-pocs/state/rx-effects/until-destroy.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if-visible/if-visible.directive.ts
  apps/demos/src/app/shared/debug-helper/dirty-checks/dirty-checks-work.component.ts
  apps/demos/src/app/shared/debug-helper/dirty-checks/dirty-checks.component.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.component.ts
  apps/demos/src/app/shared/image-array/controls/image-array.component.ts
  libs/cdk/coalescing/docs/Readme.md
  libs/state/effects/README.md
  libs/state/effects/docs/Readme.md
  libs/state/effects/ng-package.json
  libs/state/effects/spec/effects.service.spec.ts
  libs/state/effects/src/index.ts
  libs/state/effects/src/lib/effects.service.ts
  libs/state/effects/src/lib/model.ts
  libs/state/effects/src/lib/utils.ts
  libs/state/effects/src/test-setup.ts
  tsconfig.base.json
Labels: ✍️ Enhancement, { } State, 🛂 Test, 📖 Docs API, 🛠️ CDK

#1251 feat(template): introduce experimental rx-if directive
  apps/demos/src/app/app-shell/app-shell.module.ts
  apps/demos/src/app/features/experiments/structural-directives/if-visible-poc/if-visible.module.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.module.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-if/rx-if-basic.component.ts
  apps/demos/src/app/features/template/rx-if/rx-if-demo.module.ts
  apps/demos/src/app/features/template/strategies/comparison/comparison.module.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if/index.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/index.ts
  libs/cdk/template/src/lib/template-manager.ts
  libs/template/experimental/if/ng-package.json
  libs/template/experimental/if/src/index.ts
  libs/template/experimental/if/src/lib/if.directive.ts
  libs/template/experimental/if/src/lib/if.module.ts
  libs/template/experimental/if/src/lib/model/index.ts
  libs/template/experimental/if/src/lib/model/template-names.ts
  libs/template/experimental/if/src/lib/model/view-context.ts
  tsconfig.base.json
Labels: </> Template, 🔬 Experimental, 🛠️ CDK

#1228 perf: remove main entry point
  libs/cdk/zone-less/src/index.ts
  libs/cdk/zone-less/src/test-setup.ts
Labels: 🛠️ CDK

#1262 perf(cdk): coalesce and optimize parent notification
  apps/demos/src/app/features/template/rx-let/rx-let.menu.ts
  apps/demos/src/app/features/template/rx-let/rx-let.routes.ts
  apps/demos/src/app/features/template/rx-let/scoping/intermediate.component.ts
  apps/demos/src/app/features/template/rx-let/scoping/rx-let-scoping.component.ts
  apps/demos/src/app/features/template/rx-let/scoping/rx-let-scoping.module.ts
  apps/demos/src/app/rx-angular-pocs/cdk/debug/dirty-check/dirty-checks.component.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/for/rx-for.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/if-visible/if-visible.directive.ts
  apps/demos/src/app/rx-angular-pocs/template/directives/let/rx-let.directive.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select/strategy-select.component.ts
  libs/cdk/render-strategies/src/lib/config.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/cdk/template/src/lib/model.ts
  libs/cdk/template/src/lib/template-manager.ts
  libs/cdk/template/src/lib/utils.ts
  libs/template/experimental/for/src/lib/for.directive.ts
  libs/template/experimental/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
Labels: </> Template, 🔬 Experimental, 🛂 Test, 🛠️ CDK

#946 perf: coalesce ngZone
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.component.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/rx-for-normal.directive.ts
  apps/demos/src/app/rx-angular-pocs/cdk/decorators/stateful.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/cdk/internals/scheduler/src/lib/schedulerMinHeap.ts
  libs/cdk/render-strategies/src/lib/concurrent-strategies.ts
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/render-strategies/src/lib/native-strategies.ts
  libs/cdk/render-strategies/src/lib/onStrategy.ts
  libs/cdk/render-strategies/src/lib/strategy-provider.service.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/cdk/template/src/lib/list-view-handler.ts
  libs/cdk/template/src/lib/template-manager.ts
  libs/cdk/template/src/lib/utils.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
Labels: </> Template, 🛠️ CDK
