Repository rx-angular/rx-angular, pull requests merged in 2023-01, with the labels that each got.

#1490 #1443 docs move readme documents
  apps/docs/docs/cdk/coalescing/_docs.md
  apps/docs/docs/cdk/coalescing/coalescing.mdx
  apps/docs/docs/cdk/coercing/_docs.md
  apps/docs/docs/cdk/coercing/coercing.mdx
  apps/docs/docs/cdk/notifications/_docs.md
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/cdk/render-strategies/_docs.md
  apps/docs/docs/cdk/render-strategies/render-strategies.mdx
  apps/docs/docs/cdk/template-management/template-management.mdx
  apps/docs/docs/cdk/transformations/transformations.mdx
  apps/docs/docs/cdk/zone-configurations/_docs.md
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
  apps/docs/docs/cdk/zone-less/_docs.md
  apps/docs/docs/cdk/zone-less/zone-less.mdx
  apps/docs/docs/state/actions/_docs.md
  apps/docs/docs/state/actions/actions.mdx
  apps/docs/docs/state/effects/_docs.md
  apps/docs/docs/state/effects/effects.mdx
  apps/docs/docs/state/selections/_docs.md
  apps/docs/docs/state/selections/selections.mdx
  apps/docs/docs/state/state.mdx
  libs/cdk/coalescing/README.md
  libs/cdk/coercing/README.md
  libs/cdk/notifications/README.md
  libs/cdk/render-strategies/README.md
  libs/cdk/template/README.md
  libs/cdk/transformations/README.md
  libs/cdk/zone-configurations/README.md
  libs/cdk/zone-less/README.md
  libs/state/actions/README.md
  libs/state/effects/README.md
  libs/state/selections/README.md
Labels: 📚 Docs Web, </> Template, { } State, 🛠️ CDK

#1492 docs(cdk): update usage notes of coalesceWith-operator
  libs/cdk/coalescing/src/lib/coalesceWith.ts
Labels: 🛠️ CDK

#1497 docs(state): remove coverage status badge
  apps/docs/docs/state/state.mdx
Labels: 📚 Docs Web

#1500 fix: bump ng-morph to fix vulnerabilities
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🛠️ CDK

#1501 Fix incorrect frame budget equation
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
Labels: 📚 Docs Web

#1502 fix(template): typing of track by key as keyof T
  libs/template/for/src/lib/for.directive.ts
Labels: </> Template

#1503 feat(template): use default strategy names type for template hint
  apps/demos/src/app/rx-angular-pocs/template/directives/switch/rx-switch-case.directive.ts
  apps/docs/docs/template/api/rx-if-directive.md
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/render-strategies/src/lib/strategy-handling.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/push/src/lib/push.pipe.ts
Labels: 📚 Docs Web, </> Template, 🛠️ CDK

#1505 #1491 fix broken links
  apps/docs/docs/cdk/render-strategies/strategies/strategies.mdx
  apps/docs/docs/cdk/zone-configurations/how-to-debug-zone-flags.md
  apps/docs/docs/state/api/rx-state.md
  apps/docs/docs/state/concepts-and-best-practices/get-nested-state-slices.md
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.md
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  apps/docs/docs/template/performance-issues/ngzone-optimizations.md
  apps/docs/project.json
  markdown-link-check.config.json
  package.json
  yarn.lock
Labels: 📚 Docs Web, { } State
