Repository rx-angular/rx-angular, pull requests merged in 2023-04, with the labels that each got.

#1538 feat(template): migrate to standalone API
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.directive.ts
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.module.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/for.module.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/for/src/lib/tests/for.directive.strategy.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/if.module.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.strategy.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/let.module.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
  libs/template/push/src/lib/push.module.ts
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
  libs/template/unpatch/src/lib/unpatch.module.ts
Labels: </> Template, 🔬 Experimental

#1542 test(template): implement component-tests for experimental virtual-scrolling
  .github/workflows/build-and-test.yml
  libs/template/cypress.config.ts
  libs/template/cypress/fixtures/.gitkeep
  libs/template/cypress/support/commands.ts
  libs/template/cypress/support/component-index.html
  libs/template/cypress/support/component.ts
  libs/template/cypress/tsconfig.cy.json
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
  libs/template/project.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/template/tsconfig.spec.json
  nx.json
  package.json
  yarn.lock
Labels: </> Template, 🔬 Experimental

#1539 feat(template): introduce experimental virtual-scrolling sub-package
  .github/actions/setup/action.yml
  .github/workflows/build-and-test.yml
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-test.component.ts
  apps/demos/src/app/features/template/template-shell.menu.ts
  apps/demos/src/app/features/template/template-shell.module.ts
  apps/docs/docs/template/api/virtual-scrolling.md
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-vs-cdk.png
  libs/template/cypress.config.ts
  libs/template/cypress/fixtures/.gitkeep
  libs/template/cypress/support/commands.ts
  libs/template/cypress/support/component-index.html
  libs/template/cypress/support/component.ts
  libs/template/cypress/tsconfig.cy.json
  libs/template/experimental/virtual-scrolling/ng-package.json
  libs/template/experimental/virtual-scrolling/src/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/observe-element-size.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll.config.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
  libs/template/project.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/template/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Labels: 📚 Docs Web, </> Template, 🔬 Experimental

#1540 docs: fixed imports for selections
  apps/docs/docs/state/api/rxjs-operators/distinct-until-some-changed.md
  apps/docs/docs/state/api/rxjs-operators/select-slice.md
  apps/docs/docs/state/api/rxjs-operators/stateful.md
Labels: 📚 Docs Web

#1549 docs(template): fix virtual scroll strategy usage description
  apps/docs/docs/template/api/virtual-scrolling.md
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
Labels: 📚 Docs Web, </> Template, 🔬 Experimental

#1551 docs(template): improve comparison to cdk virtual scrolling
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-container-size.png
  apps/docs/static/img/template/virtual-scrolling/cdk-container-transform.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/cdk-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/css-triggers-height.png
  apps/docs/static/img/template/virtual-scrolling/css-triggers-transform.png
  apps/docs/static/img/template/virtual-scrolling/layer-memory-estimate.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-autosize--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-dynamic-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--throttled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-fixed-size--unthrottled.png
  apps/docs/static/img/template/virtual-scrolling/rxa-item-transform.png
  apps/docs/static/img/template/virtual-scrolling/rxa-scroll-sentinel.png
  apps/docs/static/img/template/virtual-scrolling/viewport-and-runway.png
  package.json
  yarn.lock
Labels: 📚 Docs Web
