Repository rx-angular/rx-angular, pull requests merged in 2023-10, with the labels that each got.

#1608 feat(isr): add the possibility to create the cache in several variants
  apps/docs/docs/isr/cache-variants.md
  libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
Labels: 📚 Docs Web

#1611 chore(docs): enhanced documentation quality.
  apps/docs/docs/cdk/coalescing/coalescing.mdx
  apps/docs/docs/cdk/coercing/coercing.mdx
  apps/docs/docs/cdk/render-strategies/render-strategies.mdx
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
  apps/docs/docs/cdk/render-strategies/strategies/strategies.mdx
  apps/docs/docs/cdk/transformations/array/insert.md
  apps/docs/docs/cdk/transformations/object/delete-prop.md
  apps/docs/docs/cdk/transformations/object/patch.md
  apps/docs/docs/cdk/zone-configurations/how-to-debug-zone-flags.md
  apps/docs/docs/cdk/zone-configurations/how-to-setup-zone-flags.md
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
  apps/docs/docs/cdk/zone-less/zone-less.mdx
  apps/docs/docs/isr/cache-handlers.md
  apps/docs/docs/state/api/rxjs-operators/stateful.md
  apps/docs/docs/state/effects/effects.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.md
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.md
  apps/docs/docs/state/recipes/work-with-hostbindings.md
  apps/docs/docs/state/testing/testing.md
  apps/docs/docs/state/tutorials/basic-tutorial/05-side-effects.md
  apps/docs/docs/state/tutorials/increment-a-value.md
  apps/docs/docs/state/tutorials/migrating-to-rxstate.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  apps/docs/docs/template/api/rx-let-directive.md
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
Labels: 📚 Docs Web

#1618 feat(state): make state readonly
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Labels: { } State, 🛂 Test

#1619 docs: add the $implicit to rx-if docs
  apps/docs/docs/template/api/rx-if-directive.md
Labels: 📚 Docs Web

#1589 feat(state): add `rxState` function
  README.md
  apps/docs/docs/state/api/functional-rx-state.md
  apps/docs/docs/state/api/rx-state.md
  apps/docs/docs/state/faq/faq.md
  apps/docs/docs/state/selections/selections.mdx
  apps/docs/docs/state/setup.md
  apps/docs/docs/state/setup.mdx
  apps/docs/docs/state/testing/testing.md
  apps/docs/docs/state/testing/testing.mdx
  apps/docs/docs/state/tutorials/basic-tutorial/01-setup.md
  apps/docs/src/pages/index.module.css
  libs/state/README.md
  libs/state/src/index.ts
  libs/state/src/lib/rx-state.docs.spec.ts
  libs/state/src/lib/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
Labels: 📚 Docs Web, { } State, 🎉 Release

#1591 feat(state): introduce `rxEffects` creation function
  apps/docs/docs/state/effects/effects.mdx
  apps/docs/docs/state/recipes/refactor-to-rx-effects.md
  libs/state/effects/src/index.ts
  libs/state/effects/src/lib/docs.spec.ts
  libs/state/effects/src/lib/effects.service.spec.ts
  libs/state/effects/src/lib/effects.service.ts
  libs/state/effects/src/lib/rx-effects.spec.ts
  libs/state/effects/src/lib/rx-effects.ts
  libs/state/effects/src/lib/types.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.docs.spec.ts
Labels: 📚 Docs Web, ✍️ Enhancement, </> Template, { } State, 🔬 Experimental, 🛂 Test, 🎉 Release, 🛠️ CDK

#1585 feat(state): introduce actions as a function
  apps/docs/docs/state/actions/actions.mdx
  libs/state/actions/src/index.ts
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/docs.spec.ts
  libs/state/actions/src/lib/proxy.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/actions/src/lib/rx-actions.ts
  libs/state/actions/src/lib/transforms.spec.ts
  libs/state/actions/src/lib/types.ts
Labels: 📚 Docs Web, { } State, 🛂 Test, 🎉 Release

#1626 chore: bump Nx to v17.0.0
  .github/actions/setup/action.yml
  .github/labeler.yml
  .github/poc/release.yml
  .github/workflows/build-and-test.yml
  .gitignore
  .prettierignore
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/jest.config.ts
  libs/isr/project.json
  libs/state/effects/src/lib/docs.spec.ts
  libs/state/project.json
  libs/template/project.json
  libs/test-helpers/project.json
  nx.json
  package.json
  yarn.lock
Labels: </> Template, { } State, ⚙️ Chore, 🛠️ CDK

#1627 docs: harmonize projects README
  libs/cdk/README.md
  libs/isr/README.md
  libs/state/README.md
  libs/template/README.md
Labels: </> Template, { } State, 🛠️ CDK, 🚀 ISR

#1628 fix(template): fix memory leaks & runtime errors caused by virtual scroll
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
Labels: </> Template, 🔬 Experimental

#1630 feat(state): introduce signal APIs
  apps/demos/src/app/app-component/app.menu.ts
  apps/demos/src/app/app-component/app.routes.ts
  apps/demos/src/app/features/state/signal-state/signal-state.component.ts
  apps/demos/src/app/features/state/state-shell.menu.ts
  apps/demos/src/app/features/state/state-shell.module.ts
  apps/docs/docs/state/api/functional-rx-state.md
  apps/docs/docs/state/setup.mdx
  libs/state/README.md
  libs/state/spec/rx-state.docs.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
  libs/state/src/lib/signal-state-proxy.ts
Labels: 📚 Docs Web, </> Template, { } State, 🛂 Test, 🛠️ CDK
