Repository rx-angular/rx-angular, pull requests merged in 2023-02, with the labels that each got.

#1512 Update effects.mdx
  apps/docs/docs/state/effects/effects.mdx
Labels: 📚 Docs Web

#1513 Update effects.mdx
  apps/docs/docs/state/effects/effects.mdx
Labels: 📚 Docs Web

#1514 docs: improve rx-state landing
  libs/state/README.md
Labels: { } State

#1515 chore: format effects.mdx
  apps/docs/docs/state/effects/effects.mdx
Labels: 📚 Docs Web

#1511 Remove deprecated APIs
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/cdk/zone-less/zone-less.mdx
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/render-strategies/src/lib/native-strategies.ts
  libs/cdk/zone-less/rxjs/README.md
  libs/cdk/zone-less/rxjs/ng-package.json
  libs/cdk/zone-less/rxjs/spec/scheduler/animationFrameScheduler.spec.ts
  libs/cdk/zone-less/rxjs/spec/scheduler/asapScheduler.spec.ts
  libs/cdk/zone-less/rxjs/spec/scheduler/queueScheduler.spec.ts
  libs/cdk/zone-less/rxjs/src/index.ts
  libs/cdk/zone-less/rxjs/src/internals/Immediate.ts
  libs/cdk/zone-less/rxjs/src/internals/animationFrameProvider.ts
  libs/cdk/zone-less/rxjs/src/internals/date-time-stamp.provider.ts
  libs/cdk/zone-less/rxjs/src/internals/immediateProvider.ts
  libs/cdk/zone-less/rxjs/src/internals/intervalProvider.ts
  libs/cdk/zone-less/rxjs/src/observable/fromEvent.ts
  libs/cdk/zone-less/rxjs/src/observable/interval.ts
  libs/cdk/zone-less/rxjs/src/observable/timer.ts
  libs/cdk/zone-less/rxjs/src/observable/utils.ts
  libs/cdk/zone-less/rxjs/src/scheduler/Action.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/AnimationFrameAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/AnimationFrameScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/animation-frame/animationFrame.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/AsapAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/AsapScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/asap/asap.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/AsyncAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/AsyncScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/async/async.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/QueueAction.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/QueueScheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/queue/queue.ts
  libs/cdk/zone-less/rxjs/src/scheduler/scheduler.ts
  libs/cdk/zone-less/rxjs/src/scheduler/types.ts
  libs/cdk/zone-less/rxjs/src/testing/test-scheduler.ts
  libs/state/src/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/_internals/valuesComparer.util.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/extract.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/insert.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/remove.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/toDictionary.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/update.ts
  libs/state/src/lib/deprecated/transformation-helpers/array/upsert.ts
  libs/state/src/lib/deprecated/transformation-helpers/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/interfaces/comparable-data-type.ts
  libs/state/src/lib/deprecated/transformation-helpers/interfaces/only-keys-of-specific-type.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/deleteProp.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/dictionaryToArray.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/index.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/patch.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/setProp.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/slice.ts
  libs/state/src/lib/deprecated/transformation-helpers/object/toggle.ts
  tsconfig.base.json
Labels: 📚 Docs Web, { } State, 🛂 Test, 🛠️ CDK

#1518 docs: fix grammatical error in zone-less/zone-less.mdx
  apps/docs/docs/cdk/zone-less/zone-less.mdx
Labels: 📚 Docs Web
