Repository rx-angular/rx-angular, pull requests merged in 2023-05, with the labels that each got.

#1558 docs(template): add setup example with standalone cmp and fix typos
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/template/api/let-directive.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  libs/template/README.md
Labels: 📚 Docs Web, </> Template

#1532 fix(cdk): update typing for coercing functions
  libs/cdk/coercing/spec/coerce-all-factory.spec.ts
  libs/cdk/coercing/spec/coerceObservable.spec.ts
  libs/cdk/coercing/src/lib/coerce-all-factory.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservable.ts
  libs/cdk/coercing/src/lib/coerceDistinctObservableWith.ts
  libs/cdk/coercing/src/lib/coerceObservable.ts
  libs/cdk/coercing/src/lib/coerceObservableWith.ts
Labels: 🐞 Bug, 🛂 Test, 🛠️ CDK

#1569 docs: update actions doc #1561
  apps/docs/docs/state/actions/actions.mdx
Labels: 📚 Docs Web

#1563 fix(template): remove `scroll` listener
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Labels: </> Template, 🔬 Experimental

#1571 fix(template): untrack subscription and unsubscription in push pipe
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Labels: </> Template
