Repository rx-angular/rx-angular, pull requests merged in 2023-11, with the labels that each got.

#1635 feat: expose select and get in rxState setup fn
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
Labels: ✍️ Enhancement, { } State, 🛂 Test

#1640 feat(docs): update styles to match new angular
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/static/img/logo.png
  docs/images/rx-angular_logo.png
Labels: 📚 Docs Web

#1643 chore(docs): update logo
  apps/docs/blog/2023-03-07-announcing-rxangular-cdk-and-template-1-0.md
  apps/docs/docusaurus.config.js
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/static/img/logo.svg
Labels: 📚 Docs Web

#1637 refactor: drop usage of `pluck` operator
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query.component.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/rx-for-minimal.directive.ts
  apps/demos/src/app/rx-angular-pocs/cdk/hooks/utils.ts
  apps/demos/src/app/rx-angular-pocs/cdk/utils/rxjs/operators/select.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer/visualizer.component.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer/work-visualizer.component.ts
  apps/docs/docs/state/api/rx-state.md
  apps/docs/docs/state/api/rxjs-operators/select.md
  apps/docs/docs/state/concepts-and-best-practices/get-nested-state-slices.md
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.md
  apps/docs/docs/state/tutorials/migrating-to-rxstate.md
  libs/cdk/template/src/lib/list-view-context.ts
  libs/state/effects/src/lib/utils.ts
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/src/lib/operators/select.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Labels: 📚 Docs Web, { } State, 🛂 Test, 🛠️ CDK

#1629 Docs tutorial update
  apps/docs/docs/state/concepts-and-best-practices/reactive-terminology.md
  apps/docs/docs/state/tutorials/basic-tutorial/01-setup.md
  apps/docs/docs/state/tutorials/basic-tutorial/02-input-bindings.md
  apps/docs/docs/state/tutorials/basic-tutorial/03-output-bindings.md
  apps/docs/docs/state/tutorials/basic-tutorial/04-global-state.md
  apps/docs/docs/state/tutorials/basic-tutorial/05-side-effects.md
  apps/docs/docs/state/tutorials/basic-tutorial/06-presenter-pattern.~md
  apps/docs/docs/state/tutorials/basic-tutorial/_category_.json
  apps/docs/docs/state/tutorials/increment-a-value.md
Labels: 📚 Docs Web
