Repository rx-angular/rx-angular, pull requests merged in 2024-04, with the labels that each got.

#1704 [State] feat - default transform function for select
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Labels: { } State, 🛂 Test

#1712 feat(isr): add `inlineCriticalCss` support
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/render-url.ts
Labels: 🚀 ISR

#1715 feat(eslint): update dependencies to be compatible to nx 18
  libs/eslint-plugin/package.json
Labels: 📐 ESLint plugin
