Repository rx-angular/rx-angular, pull requests merged in 2024-12, with the labels that each got.

#1814 fix: replace toObservableMicrotask private API with proper solution
  libs/cdk/internals/core/src/index.ts
  libs/cdk/internals/core/src/lib/toObservableMicrotask.ts
  libs/state/src/lib/rx-state.service.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
Labels: </> Template, { } State, 🛠️ CDK

#1793 Docs/rx angular state functional
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.mdx
  apps/docs/docs/state/recipes/manage-viewmodel.mdx
  apps/docs/docs/state/recipes/run-partial-updates.mdx
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.mdx
  apps/docs/docs/state/recipes/work-with-hostbindings.mdx
  apps/docs/docs/state/tutorials/migrating-to-rxstate.mdx
Labels: 📚 Docs Web

#1816 feat(template): introduce rx-virtual-view
  apps/demos/src/app/features/template/template-shell.menu.ts
  apps/demos/src/app/features/template/template-shell.module.ts
  apps/demos/src/app/features/template/virtual-view/virtual-content.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-item.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-placeholder.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view-cool-demo.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view-demo.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view.menu.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view.routes.ts
  apps/docs/docs/template/api/virtual-view-directive.mdx
  apps/docs/static/img/template/rx-virtual-view/rx-virtual-view.jpg
  libs/template/.eslintrc.json
  libs/template/virtual-view/ng-package.json
  libs/template/virtual-view/src/index.ts
  libs/template/virtual-view/src/lib/model.ts
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
  libs/template/virtual-view/src/lib/virtual-view-content.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-placeholder.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.config.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
  tsconfig.base.json
Labels: 📚 Docs Web, </> Template, 🔬 Experimental

#1819 fix(template): expose virtual-view config tokens
  libs/template/virtual-view/src/index.ts
Labels: </> Template

#1821 Fix peerDependencies
  libs/state/package.json
  libs/template/package.json
  yarn.lock
Labels: </> Template, { } State

#1822 fix: properly include files in tsconfig
  libs/cdk/tsconfig.lib.json
  libs/state/tsconfig.lib.json
  libs/template/tsconfig.lib.json
Labels: </> Template, { } State, 🛠️ CDK

#1823 chore: move to es2022
  apps/demos/src/app/app-component/app-control-panel/app-control-panel.component.ts
  apps/demos/src/app/app-component/app-control-panel/app-control-panel.module.ts
  apps/demos/src/app/app-component/app-control-panel/index.ts
  apps/demos/src/app/features/concepts/coalescing/strategies/index.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-poc.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-children.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-content.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query.component.ts
  apps/demos/src/app/rx-angular-pocs/cdk/utils/rxjs/operators/queueWith.ts
  apps/demos/src/app/shared/debug-helper/cd-env/cd-env/cd-env.component.ts
  apps/demos/src/app/shared/debug-helper/i-frame/i-frame.module.ts
  apps/demos/src/app/shared/debug-helper/i-frame/i-frame/i-frame.component.ts
  apps/demos/src/app/shared/debug-helper/ripple/ripple.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/index.ts
  apps/demos/src/app/shared/strategy-icon/strategy-icons.component.ts
  apps/demos/tsconfig.app.json
  apps/demos/tsconfig.json
  apps/ssr-isr/tsconfig.json
  apps/ssr/tsconfig.json
  libs/cdk/tsconfig.json
  libs/cdk/tsconfig.lib.json
  libs/isr/tsconfig.json
  libs/state/tsconfig.json
  libs/state/tsconfig.lib.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/test-helpers/tsconfig.json
  tsconfig.base.json
Labels: </> Template, { } State, 🛠️ CDK, 🚀 ISR
