Repository rx-angular/rx-angular, pull requests merged in 2024-09, with the labels that each got.

#1759 fix(template): properly calc sizes when resizeobserver adjust viewport
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-crazy-update.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Labels: </> Template, 🔬 Experimental

#1682 chore: upgrade yarn to v4
  .github/actions/setup/action.yml
  .gitignore
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  libs/cdk/package.json
  libs/eslint-plugin/package.json
  libs/state/package.json
  libs/template/package.json
  libs/test-helpers/package.json
  package.json
  yarn.lock
Labels: </> Template, { } State, 🛠️ CDK, 📐 ESLint plugin

#1775 docs: fix typo in notifications
  apps/docs/docs/cdk/notifications/notifications.mdx
Labels: 📚 Docs Web

#1780 docs: use correct discord invite link
  apps/docs/docusaurus.config.js
Labels: 📚 Docs Web

#1784 docs(state): fix link to the migration guide for using the functional API
  libs/state/README.md
Labels: { } State

#1790 feat(state): expose asReadOnly() when create state instance using functional approach
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
Labels: { } State, 🛂 Test

#1788 docs: update version compatibility table
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Labels: </> Template, { } State, 🛠️ CDK
