Repository rx-angular/rx-angular, pull requests merged in 2024-05, with the labels that each got.

#1722 chore: fix prettier
  apps/docs/docs/state/api/rx-state.md
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Labels: 📚 Docs Web, { } State, 🛂 Test

#1710 refactor(template): deprecate parent flag
  apps/demos/src/app/app-component/app-component.module.ts
  apps/demos/src/app/app-component/app.component.ts
  apps/demos/src/app/app-component/index.ts
  apps/demos/src/app/app.module.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  apps/demos/src/main.ts
  apps/demos/src/polyfills.ts
  apps/docs/docs/template/api/rx-for-directive.mdx
  apps/docs/docs/template/api/rx-if-directive.mdx
  apps/docs/docs/template/api/rx-let-directive.mdx
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  libs/cdk/render-strategies/src/lib/config.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/if.directive.parent-notification.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-parent-notification.spec.ts
Labels: 📚 Docs Web, </> Template, 🔬 Experimental, 🛠️ CDK

#1724 docs(state): improve jsdocs
  libs/state/src/lib/rx-state.service.ts
Labels: { } State

#1673 refactor(cdk): drop unused scheduler APIs
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/cdk/internals/scheduler/src/lib/schedulerFeatureFlags.ts
Labels: 🛠️ CDK

#1723 feat(template): virtual-scrolling: introduce keepScrolledIndexOnPrepend
  apps/demos/src/app/features/template/rx-for/rx-for.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/messages/message-data.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/messages/messages.service.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-reverse-infinite-scroll.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider/array-provider.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/utils.ts
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/static/img/template/virtual-scrolling/reverse-infinite-scroll.mp4
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
Labels: 📚 Docs Web, </> Template, 🔬 Experimental

#1728 fix(template): virtual-for: properly calculate stable state
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
Labels: </> Template, 🔬 Experimental

#1734 feat(template): set the parent flag to false by default
  apps/docs/docs/template/api/rx-for-directive.mdx
  libs/cdk/render-strategies/src/lib/config.ts
Labels: 📚 Docs Web, 🛠️ CDK
