Repository rx-angular/rx-angular, pull requests merged in 2024-03, with the labels that each got.

#1693 feat(template): introduce appendOnly mode, initialScrollIndex & bugfixes
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-demo.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider/array-provider.component.ts
  apps/docs/docs/template/api/virtual-scrolling.mdx
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
Labels: 📚 Docs Web, </> Template, 🔬 Experimental

#1676 Update local-variables.md to include `*ngIf="num$ as n"`
  apps/docs/docs/template/concepts/local-variables.md
Labels: 📚 Docs Web

#1660 Readable generic names #1634
  .eslintrc.json
  libs/state/src/lib/rx-state.service.ts
Labels: { } State
