Repository rx-angular/rx-angular, pull requests merged in 2024-01, with the labels that each got.

#1661 docs: describe that Observable Inputs should not be overriden
  apps/docs/docs/state/tutorials/passing-observables-directly.md
Labels: 📚 Docs Web

#1654 fix(template): use correct CdRef instance in RxPush
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Labels: </> Template

#1671 chore(docs): correct view -> few
  apps/docs/docs/state/tutorials/passing-observables-directly.md
Labels: 📚 Docs Web

#1674 fix(cdk): use `globalThis` instead of `ɵglobal` in zone-config
  libs/cdk/zone-configurations/src/lib/zone-config.ts
Labels: 🛠️ CDK

#1675 Change `ui.greet()` to `ui.greet($event.target.value)` in actions.mdx
  apps/docs/docs/state/actions/actions.mdx
Labels: 📚 Docs Web
