Repository rx-angular/rx-angular, pull requests merged in 2025-01, with the labels that each got.

#1824 docs: refactor docs structure
  apps/docs/docs/cdk/_category_.json
  apps/docs/docs/cdk/api/_category_.json
  apps/docs/docs/cdk/api/interfaces/_category_.json
  apps/docs/docs/cdk/api/interfaces/only-keys-of-specific-type.md
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/eslint-plugin/_category_.json
  apps/docs/docs/isr/_category_.json
  apps/docs/docs/state/_category_.json
  apps/docs/docs/template/_category_.json
  apps/docs/docs/template/api/_category_.json
  apps/docs/docs/template/api/viewport-prio-directive.md
  apps/docs/docs/template/push-pipe.md
  apps/docs/docs/template/rx-for-directive.mdx
  apps/docs/docs/template/rx-if-directive.mdx
  apps/docs/docs/template/rx-let-directive.mdx
  apps/docs/docs/template/unpatch-directive.md
  apps/docs/docs/template/virtual-scrolling.mdx
  apps/docs/docs/template/virtual-view-directive.mdx
  libs/template/README.md
  libs/template/for/src/lib/README.md
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/README.md
  libs/template/let/src/lib/let.directive.ts
  libs/template/unpatch/src/lib/README.md
Labels: 📚 Docs Web, </> Template

#1831 refactor(state): use DestroyRef within EffectsService
  libs/state/effects/src/lib/effects.service.spec.ts
  libs/state/effects/src/lib/effects.service.ts
Labels: { } State

#1828 refactor(state): use DestroyRef instead of OnDestroy life cycle hook
  apps/demos/src/app/features/tutorials/basics/5-side-effects/side-effects.solution.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/primitives-provider.service.ts
  apps/demos/src/app/shared/viewport.service.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rx-state.ts
Labels: { } State, 🛂 Test

#1825 feat(template): new reconciliation for RxFor
  apps/demos/src/app/features/template/rx-for/list-actions/list-action-item.component.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.component.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/reconciliation-provider-directives.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider/array-provider.component.ts
  apps/docs/docs/template/rx-for-directive.mdx
  apps/docs/static/img/template/rx-for/filter-experimental.mp4
  apps/docs/static/img/template/rx-for/filter-legacy.mp4
  apps/docs/static/img/template/rx-for/shuffle-experimental.mp4
  apps/docs/static/img/template/rx-for/shuffle-legacy.mp4
  apps/docs/static/img/template/rx-for/swap-experimental.mp4
  apps/docs/static/img/template/rx-for/swap-legacy.mp4
  libs/cdk/template/src/index.ts
  libs/cdk/template/src/lib/list-reconciliation.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/cdk/template/src/lib/rx-live-collection.ts
  libs/template/for/src/index.ts
  libs/template/for/src/lib/for.config.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/inject-reconciler.ts
  libs/template/for/src/lib/provide-experimental-reconciler.ts
  libs/template/for/src/lib/provide-legacy-reconciler.ts
  libs/template/for/src/lib/reconcile-factory.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/for/src/lib/tests/for.directive.strategy.spec.ts
Labels: 📚 Docs Web, </> Template, 🛠️ CDK

#1832 feat: added provideRxRenderStrategies provider function
  apps/docs/docs/cdk/render-strategies/render-strategies.mdx
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
  apps/docs/docs/cdk/render-strategies/strategies/strategies.mdx
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  apps/docs/docs/template/performance-issues/ngzone-optimizations.md
  apps/docs/docs/template/rx-for-directive.mdx
  apps/docs/docs/template/rx-if-directive.mdx
  apps/docs/docs/template/rx-let-directive.mdx
  libs/cdk/render-strategies/src/index.ts
  libs/cdk/render-strategies/src/lib/config.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
  libs/template/push/src/lib/tests/push.pipe.service.spec.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
Labels: 📚 Docs Web, ✍️ Enhancement, </> Template, 🛂 Test, 🛠️ CDK

#1842 test(state): drop detecting changes twice
  libs/state/spec/rx-state.spec.ts
Labels: { } State, 🛂 Test

#1848 docs(template): add import statements for virtual-view
  apps/docs/docs/template/virtual-view-directive.mdx
Labels: 📚 Docs Web

#1847 fix(template): move import in virtual scrolling to rxjs/operators
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Labels: </> Template, 🔬 Experimental

#1844 fix(eslint): added license to package.json
  libs/eslint-plugin/package.json
Labels: 📐 ESLint plugin

#1850 chore: adjust peer dependencies
  libs/state/package.json
  libs/template/package.json
  yarn.lock
Labels: </> Template, { } State

#1838 refactor(state): drop untilDestroyed operator
  libs/state/effects/src/lib/effects.service.ts
  libs/state/effects/src/lib/utils.ts
Labels: { } State

#1853 chore(docs): fix formatting
  apps/docs/docs/template/virtual-view-directive.mdx
Labels: 📚 Docs Web
